# Разведочный анализ данных: Data Cleaning. Практическая работа

## Цели практической работы
* Потренироваться выявлять и заполнять пропущенные значения в данных.
* Потренироваться преобразовывать типы данных.
* Потренироваться выявлять и обрабатывать аномальные значения в данных.
* Подготовить датафрейм к этапу генерации признаков.

## Задача

В этой практической работе вы продолжите исследовать и готовить данные для этапа моделирования: заполнять пропущенные значения в некоторых переменных, изменять типы данных и обрабатывать выбросы.

Напомним, что вы работаете с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.

## Описание датасета:
- `id`: идентификатор записи;
- `url`: URL записи о продаже;
- `region`: регион;
- `region_url`: URL региона;
- `price`: стоимость;
- `year`: год выпуска;
- `manufacturer`: производитель;
- `model`: модель;
- `condition`: состояние;
- `cylinders`: количество цилиндров;
- `fuel`: тип топлива;
- `odometer`: количество пройденных миль;
- `title_status`: статус;
- `transmission`: коробка передач;
- `VIN`: идентификационный номер;
- `drive`: тип привода;
- `size`: размер;
- `type`: кузов;
- `paint_color`: цвет;
- `image_url`: URL изображения;
- `description`: указанное описание;
- `county`: страна;
- `state`: штат;
- `lat`: широта;
- `long`: долгота;
- `posting_date`: дата размещения объявления о продаже;
- `price_category`: категория цены.

## Что входит в практическую работу
1. Загрузить датасет и ознакомиться с ним.
2. Исследовать переменные датасета на наличие пропусков.
3. Обработать пропуски в зависимости от типа переменной.
4. Изменить типы данных.
5. Исследовать данные на аномальные значения и скорректировать выбросы.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, отступы и правила расстановки пробелов соблюдены.
- Репозиторий проекта содержит осмысленные коммиты с конкретными реализованными фичами, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них видеоматериалов.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему куратору.

## Обязательные задачи

In [ ]:
# Импортируйте необходимые библиотеки

### Задача 1. Загрузка датасета и ознакомление с количеством пропущенных значений

1. Загрузите датасет из `data/df_out.csv` и выведите первые пять записей.

In [3]:
import pandas as pd
df = pd.read_csv('data/df_out.csv')
print(df.head())

           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7316474668  https://newyork.craigslist.org/lgi/cto/d/baldw...

          region                           region_url  price    year  \
0    chattanooga   https://chattanooga.craigslist.org  54990  2020.0
1   north jersey     https://newjersey.craigslist.org  16942  2016.0
2   reno / tahoe          https://reno.craigslist.org  35590  2017.0
3   fayetteville  https://fayetteville.craigslist.org  14500  2013.0
4  new york city       https://newyork.craigslist.org  21800  2021.0

  manufacturer                   model    fuel  odometer title_status  \
0          ram  2500 crew cab big horn  diesel     27442        clean
1         ford    explorer 4wd 4dr xlt     NaN     60023        clean
2   volkswagen        golf r hatchback     gas     14048        clean
3       toyota                    rav4     gas    117291        clean
4       nissan                  altima     gas      8000        clean

  transmission                                          image_url  \
0        other  https://images.craigslist.org/00N0N_1xMPvfxRAI...
1    automatic  https://images.craigslist.org/00x0x_26jl9F0cnL...
2        other  https://images.craigslist.org/00y0y_eeZjWeiSfb...
3    automatic  https://images.craigslist.org/00606_iGe5iXidib...
4    automatic  https://images.craigslist.org/00V0V_3pSOiPZ3Sd...

                                         description state        lat  \
0  Carvana is the safer way to buy a car During t...    tn  35.060000
1  ***Call Us for more information at: 201-635-14...    nj  40.821805
2  Carvana is the safer way to buy a car During t...    ca  33.779214
3  2013 Toyota RAV4 XLE 4dr SUV     Offered by: R...    nc  35.715954
4  2021 Nissan Altima Sv with Only 8 K Miles Titl...    ny  40.654800

        long              posting_date price_category  \
0 -85.250000  2021-04-17T12:30:50-0400           high
1 -74.061962  2021-05-03T15:40:21-0400         medium
2 -84.411811  2021-04-28T03:52:20-0700           high
3 -78.655304  2021-04-17T10:08:57-0400         medium
4 -73.609700  2021-05-03T18:32:06-0400         medium

                        date
0  2021-04-17 16:30:50+00:00
1  2021-05-03 19:40:21+00:00
2  2021-04-28 10:52:20+00:00
3  2021-04-17 14:08:57+00:00
4  2021-05-03 22:32:06+00:00

2. Выведите информацию о датафрейме и обратите внимание на оставшиеся незаполненные значения.

In [7]:
print(df.info())
print("\nКоличество пропущенных значений по столбцам:")
print(df.isnull().sum())
print("\nПроцент пропущенных значений по столбцам:")
print(df.isnull().mean() * 100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9902 entries, 0 to 9901
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9902 non-null   int64
 1   url             9902 non-null   object
 2   region          9902 non-null   object
 3   region_url      9902 non-null   object
 4   price           9902 non-null   int64
 5   year            9868 non-null   float64
 6   manufacturer    9902 non-null   object
 7   model           9776 non-null   object
 8   fuel            9841 non-null   object
 9   odometer        9902 non-null   int64
 10  title_status    9738 non-null   object
 11  transmission    9902 non-null   object
 12  image_url       9902 non-null   object
 13  description     9902 non-null   object
 14  state           9902 non-null   object
 15  lat             9902 non-null   float64
 16  long            9902 non-null   float64
 17  posting_date    9902 non-null   object
 18  price_category  9902 non-null   object
 19  date            9902 non-null   object
dtypes: float64(3), int64(3), object(14)
memory usage: 1.5+ MB
None

Количество пропущенных значений по столбцам:
id                  0
url                 0
region              0
region_url          0
price               0
year               34
manufacturer        0
model             126
fuel               61
odometer            0
title_status      164
transmission        0
image_url           0
description         0
state               0
lat                 0
long                0
posting_date        0
price_category      0
date                0
dtype: int64

Процент пропущенных значений по столбцам:
id                0.000000
url               0.000000
region            0.000000
region_url        0.000000
price             0.000000
year              0.343365
manufacturer      0.000000
model             1.272470
fuel              0.616037
odometer          0.000000
title_status      1.656231
transmission      0.000000
image_url         0.000000
description       0.000000
state             0.000000
lat               0.000000
long              0.000000
posting_date      0.000000
price_category    0.000000
date              0.000000
dtype: float64

3. Выведите количество полностью заполненных объектов и их процент из всей выборки. Воспользуйтесь материалами из видео.

In [11]:
fully_filled_count = df.dropna().shape[0]
total_count = df.shape[0]
fully_filled_percentage = (fully_filled_count / total_count) * 100
print(f"Количество полностью заполненных объектов: {fully_filled_count}")
print(f"Процент полностью заполненных объектов: {fully_filled_percentage:.2f}%")

Количество полностью заполненных объектов: 9543
Процент полностью заполненных объектов: 96.37%

4. Сохраните в переменную и выведите процент пропущенных значений для каждого признака, отсортируйте признаки по убыванию процента пропущенных значений. Воспользуйтесь материалами из видео и не забудьте передать верный параметр сортировки.

In [13]:
missing_percentage = df.isnull().mean() * 100
missing_percentage_sorted = missing_percentage.sort_values(ascending=False)
print(missing_percentage_sorted)

title_status      1.656231
model             1.272470
fuel              0.616037
year              0.343365
image_url         0.000000
price_category    0.000000
posting_date      0.000000
long              0.000000
lat               0.000000
state             0.000000
description       0.000000
id                0.000000
transmission      0.000000
url               0.000000
odometer          0.000000
manufacturer      0.000000
price             0.000000
region_url        0.000000
region            0.000000
date              0.000000
dtype: float64

5. Выведите список всех признаков, в которых имеются пропущенные значения. Воспользуйтесь результатом вывода предыдущего задания, чтобы отсортировать признаки, подходящие под условие.

In [15]:
missing_features = missing_percentage_sorted[missing_percentage_sorted > 0]


print("Список признаков с пропущенными значениями (отсортированный):")
print(missing_features)


print("\nСписок названий признаков с пропущенными значениями (отсортированный):")
print(missing_features.index.tolist())

Список признаков с пропущенными значениями (отсортированный):
title_status    1.656231
model           1.272470
fuel            0.616037
year            0.343365
dtype: float64

Список названий признаков с пропущенными значениями (отсортированный):
['title_status', 'model', 'fuel', 'year']

### Задача 2. Обработка пропусков в годе выпуска автомобиля

1. Выведите количество значений для года выпуска автомобиля, включая пропущенные значения.

In [17]:

print(df['year'].value_counts(dropna=False))


print("\nКоличество уникальных значений для года выпуска автомобиля:")
print(df['year'].nunique(dropna=False))

year
2017.0    808
2018.0    799
2016.0    733
2013.0    685
2015.0    664
         ...
1927.0      1
1958.0      1
1941.0      1
1935.0      1
1954.0      1
Name: count, Length: 90, dtype: int64

Количество уникальных значений для года выпуска автомобиля:
90

2. Выведите количество пропущенных значений в годе выпуска автомобиля.

In [19]:
print("Количество пропущенных значений в годе выпуска автомобиля:")
print(df['year'].isnull().sum())

Количество пропущенных значений в годе выпуска автомобиля:
34

3. Выведите описательные статистики для года выпуска автомобиля.

In [21]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['year'].describe())

Описательные статистики для года выпуска автомобиля:
count    9868.000000
mean     2010.909708
std         9.705988
min      1915.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

4. Выведите записи, в которых год выпуска автомобиля не заполнен. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

In [23]:
print("Записи, в которых год выпуска автомобиля не заполнен:")
print(df[df['year'].isnull()])

Записи, в которых год выпуска автомобиля не заполнен:
              id                                                url  \
342   7304102133  https://wenatchee.craigslist.org/ctd/d/wenatch...
418   7316337069  https://lasvegas.craigslist.org/ctd/d/scottsda...
423   7315662117  https://westslope.craigslist.org/ctd/d/denver-...
697   7316199009  https://nashville.craigslist.org/ctd/d/nashvil...
887   7316840794  https://denver.craigslist.org/ctd/d/american-f...
900   7311915616  https://westslope.craigslist.org/ctd/d/denver-...
998   7306735187  https://westslope.craigslist.org/ctd/d/denver-...
1208  7309954650  https://gainesville.craigslist.org/ctd/d/gaine...
1308  7313865045  https://westslope.craigslist.org/ctd/d/denver-...
1828  7303344554  https://daytona.craigslist.org/ctd/d/new-smyrn...
2270  7311762820  https://huntsville.craigslist.org/ctd/d/new-ca...
2481  7315662074  https://santafe.craigslist.org/ctd/d/denver-20...
2603  7314588156  https://inlandempire.craigslist.org/ctd/d/hesp...
2792  7310250813  https://omaha.craigslist.org/ctd/d/council-blu...
2931  7306678710  https://gainesville.craigslist.org/ctd/d/gaine...
3263  7316562384  https://honolulu.craigslist.org/oah/ctd/d/hono...
3476  7307209305  https://northmiss.craigslist.org/ctd/d/vicksbu...
3488  7304711487  https://westslope.craigslist.org/ctd/d/denver-...
3634  7309869204  https://scottsbluff.craigslist.org/ctd/d/denve...
4178  7304693422  https://shreveport.craigslist.org/ctd/d/vicksb...
6055  7310371320  https://westslope.craigslist.org/ctd/d/denver-...
6130  7309904568  https://omaha.craigslist.org/ctd/d/omaha-2020-...
6254  7315207437  https://huntsville.craigslist.org/ctd/d/new-ca...
7122  7310924082  https://omaha.craigslist.org/ctd/d/omaha-2018-...
7567  7316247218  https://lasvegas.craigslist.org/ctd/d/scottsda...
7730  7314898718  https://gainesville.craigslist.org/ctd/d/gaine...
7734  7314454466  https://billings.craigslist.org/ctd/d/denver-2...
8437  7310829676  https://tucson.craigslist.org/ctd/d/tempe-2020...
8714  7316852999  https://memphis.craigslist.org/ctd/d/memphis-2...
9237  7316270709  https://denver.craigslist.org/ctd/d/denver-201...
9454  7312938642  https://lasvegas.craigslist.org/ctd/d/scottsda...
9626  7309216259  https://omaha.craigslist.org/ctd/d/omaha-2019-...
9752  7316246632  https://sanantonio.craigslist.org/ctd/d/scotts...
9855  7314033574  https://inlandempire.craigslist.org/ctd/d/scot...

                       region                           region_url  price  \
342                 wenatchee     https://wenatchee.craigslist.org  35880
418                 las vegas      https://lasvegas.craigslist.org  84995
423             western slope     https://westslope.craigslist.org  43900
697                 nashville     https://nashville.craigslist.org  28498
887                    denver        https://denver.craigslist.org  60900
900             western slope     https://westslope.craigslist.org  67900
998             western slope     https://westslope.craigslist.org  38900
1208              gainesville   https://gainesville.craigslist.org  24975
1308            western slope     https://westslope.craigslist.org  47900
1828            daytona beach       https://daytona.craigslist.org  35850
2270     huntsville / decatur    https://huntsville.craigslist.org  29875
2481          santa fe / taos       https://santafe.craigslist.org  43900
2603            inland empire  https://inlandempire.craigslist.org   2599
2792   omaha / council bluffs         https://omaha.craigslist.org  28995
2931              gainesville   https://gainesville.craigslist.org  26975
3263                   hawaii      https://honolulu.craigslist.org  37500
3476        north mississippi     https://northmiss.craigslist.org  64900
3488            western slope     https://westslope.craigslist.org  67900
3634  scottsbluff / panhandle   https://scottsbluff.craigslist.org  48900
4178               shreveport    https://shreveport.craigslist.org  53700
6055            western slope     https://westslope.craigslist.org  49900
6130   omaha / council bluffs         https://omaha.craigslist.org  25399
6254     huntsville / decatur    https://huntsville.craigslist.org  35495
7122   omaha / council bluffs         https://omaha.craigslist.org  12995
7567                las vegas      https://lasvegas.craigslist.org  69995
7730              gainesville   https://gainesville.craigslist.org  38975
7734                 billings      https://billings.craigslist.org  49900
8437                   tucson        https://tucson.craigslist.org  83877
8714                  memphis       https://memphis.craigslist.org  19979
9237                   denver        https://denver.craigslist.org  49900
9454                las vegas      https://lasvegas.craigslist.org  67995
9626   omaha / council bluffs         https://omaha.craigslist.org  29995
9752              san antonio    https://sanantonio.craigslist.org  49995
9855            inland empire  https://inlandempire.craigslist.org  54995

      year manufacturer                 model    fuel  odometer title_status  \
342    NaN        other                   500     gas     13508        clean
418    NaN        other  Super Duty F-350 SRW  diesel      1268        clean
423    NaN        other         Grand Caravan     NaN        21        clean
697    NaN        other   olet Silverado 1500     NaN     59246          NaN
887    NaN        other                 F-150     gas      6110        clean
900    NaN        other               Odyssey     gas        21        clean
998    NaN        other         Grand Caravan     NaN        21        clean
1208   NaN        other                  CR-V     gas     44128        clean
1308   NaN        other              a Sienna     gas     43701        clean
1828   NaN        other     Transit Cargo Van     gas       567        clean
2270   NaN        other               a Camry     gas     46947        clean
2481   NaN        other         Grand Caravan     NaN        21        clean
2603   NaN        other           olet Impala   other         1        clean
2792   NaN        other                 cadia     gas      3851          NaN
2931   NaN        other              n Maxima     gas     28367        clean
3263   NaN        other        Grand Cherokee     NaN     26608        clean
3476   NaN        other                   500  diesel     12338          NaN
3488   NaN        other               Odyssey     gas        21        clean
3634   NaN        other         Grand Caravan     NaN        19        clean
4178   NaN        other            ierra 1500     gas     35676          NaN
6055   NaN        other               Enclave     gas     10345        clean
6130   NaN        other              Envision     NaN      8492      rebuilt
6254   NaN        other                Series     gas     14000        clean
7122   NaN        other             u Impreza     gas     16740      rebuilt
7567   NaN        other                 F-150     gas       412        clean
7730   NaN        other                   500     gas     28689        clean
7734   NaN        other              a Sienna     gas     34294        clean
8437   NaN        other          ierra 2500HD  diesel     25363          NaN
8714   NaN        other                  CX-5     gas     17183        clean
9237   NaN        other              a Sienna     gas     34294        clean
9454   NaN        other   olet Silverado 1500     gas      7511        clean
9626   NaN        other               Enclave     gas      1036      rebuilt
9752   NaN        other                   500     gas     19078        clean
9855   NaN        other                 F-150     gas       180        clean

     transmission                                          image_url  \
342     automatic  https://images.craigslist.org/00J0J_6IMoEUzIIM...
418     automatic  https://images.craigslist.org/00x0x_iQCC0Ef28S...
423     automatic  https://images.craigslist.org/00f0f_7AwipNocNH...
697     automatic  https://images.craigslist.org/00T0T_dZ7nOXskCS...
887     automatic  https://images.craigslist.org/01616_bpzSdSRTbx...
900     automatic  https://images.craigslist.org/00404_erlbeKWEkn...
998     automatic  https://images.craigslist.org/00F0F_3T6FM0XMZW...
1208    automatic  https://images.craigslist.org/00000_2TUtAgLlCR...
1308    automatic  https://images.craigslist.org/00o0o_8XYp4Zygdj...
1828    automatic  https://images.craigslist.org/00a0a_d4XVrHnlxl...
2270    automatic  https://images.craigslist.org/01313_9nQ5n8dbnZ...
2481    automatic  https://images.craigslist.org/00f0f_7AwipNocNH...
2603        other  https://images.craigslist.org/00P0P_dKsEWbujM0...
2792    automatic  https://images.craigslist.org/00j0j_6hfE9qI1CV...
2931    automatic  https://images.craigslist.org/01010_4uw9b06xiS...
3263    automatic  https://images.craigslist.org/01111_h3zrI9JPSH...
3476    automatic  https://images.craigslist.org/00E0E_hZTYK06AGo...
3488    automatic  https://images.craigslist.org/00404_erlbeKWEkn...
3634    automatic  https://images.craigslist.org/00V0V_72KAx8GRuN...
4178    automatic  https://images.craigslist.org/00O0O_cpIkn2jwHN...
6055    automatic  https://images.craigslist.org/00M0M_sPt1lwAVRY...
6130    automatic  https://images.craigslist.org/01515_geiPTG1MZG...
6254    automatic  https://images.craigslist.org/01212_85QVVsEWjT...
7122    automatic  https://images.craigslist.org/01212_dEfENLNXWW...
7567    automatic  https://images.craigslist.org/00n0n_kNzqmJoY2a...
7730    automatic  https://images.craigslist.org/00e0e_3SqmUoLwUf...
7734    automatic  https://images.craigslist.org/00707_lMMxHyLoAR...
8437    automatic  https://images.craigslist.org/00A0A_nd5C1ILCvJ...
8714    automatic  https://images.craigslist.org/00x0x_1sp7mb28W4...
9237    automatic  https://images.craigslist.org/00707_lMMxHyLoAR...
9454    automatic  https://images.craigslist.org/00M0M_74pDndl5gQ...
9626    automatic  https://images.craigslist.org/01010_1PAwiL9HwM...
9752    automatic  https://images.craigslist.org/00p0p_lva0tqTnF1...
9855    automatic  https://images.craigslist.org/00d0d_92wTNhRT7B...

                                            description state        lat  \
342   2019 *Ram* *1500* Big Horn/Lone Star 4x2 Quad ...    wa  47.434493
418   2020 *Ford* *Super Duty F-350 SRW* 1K MILES. B...    nv  33.458277
423   2019 *Dodge* *Grand Caravan* SE - $43,900Call ...    co  39.674406
697   2019 *Chevrolet* *Silverado 1500* 2019 CHEVROL...    tn  36.138022
887   2020 *Ford* *F-150* PLATINUM FX4 Truck - $60,9...    co  40.362248
900   2020 *Honda* *Odyssey* EX-L w/Navi/RES Automat...    co  39.674406
998   2019 *Dodge* *Grand Caravan* SE - $38,900Call ...    co  39.674406
1208  2019 *Honda* *CR-V* EX 2WD SUV - $24,975Call o...    fl  29.676827
1308  2018 *Toyota* *Sienna* LE Automatic Access Sea...    co  39.674406
1828  2020 *Ford* *Transit Cargo Van* T-250 148" WB*...    fl  29.046240
2270  2019 *Toyota* *Camry* XSE Automatic Sedan - $2...    al  33.669601
2481  2019 *Dodge* *Grand Caravan* SE - $43,900Call ...    nm  39.674406
2603  Chevrolet Impala  * AUCTION PRICES TO THE PUBL...    ca  34.451930
2792  2019 *GMC* *Acadia* AWD 4dr SLT w/SLT-1 SUV - ...    ia  41.229172
2931  2018 *Nissan* *Maxima* SR 3.5L Midnight Editio...    fl  29.676827
3263  2018 *Jeep* *Grand Cherokee* High Altitude 4x2...    hi  21.318059
3476  2020 *Ram* *3500* RAM 3500 DUALLY 4X4 CUMMINS ...    ms  32.332046
3488  2020 *Honda* *Odyssey* EX-L w/Navi/RES Automat...    co  39.674406
3634  2019 *Dodge* *Grand Caravan* SE Plus Wagon - $...    ne  39.674406
4178  2020 *GMC* *Sierra 1500* SIERRA 1500 AT4 4X4 5...    la  32.332046
6055  2018 *Buick* *Enclave* FWD 4dr Essence SUV - $...    co  39.674406
6130  2020 *Buick* *Envision* AWD 4dr Essence SUV - ...    ia  41.207382
6254  2020 *BMW* *3 Series* 330i Sedan - $35,495Call...    al  33.669601
7122  2018 *Subaru* *Impreza* 2.0i 4-door CVT Sedan ...    ia  41.207382
7567  2021 *Ford* *F-150* NEW 2021 FORD F150 SUPERCR...    nv  33.458277
7730  2019 *Ram* *2500* Tradesman 4x2 Crew Cab 8' Bo...    fl  29.676827
7734  2019 *Toyota* *Sienna* LE Automatic Access Sea...    mt  39.674406
8437  2020 *GMC* *Sierra 2500HD* LIFTED - AT4 Editio...    az  33.437098
8714  2019 *Mazda* *CX-5* Sport FWD SUV - $19,979Cal...    tn  35.191437
9237  2019 *Toyota* *Sienna* LE Automatic Access Sea...    co  39.674406
9454  2020 *Chevrolet* *Silverado 1500* 6.2L HIGH CO...    nv  33.458277
9626  2019 *Buick* *Enclave* AWD 4dr Essence SUV - $...    ia  41.207382
9752  2019 *Ram* *1500* LIFTED 2019 RAM 1500 WITH BU...    tx  33.458277
9855  2020 *Ford* *F-150* 180 MILES. LIFTED FORD F15...    ca  33.458277

            long              posting_date price_category  \
342  -120.320759  2021-04-09T06:31:03-0700           high
418  -111.925970  2021-05-03T11:31:39-0700           high
423  -104.998604  2021-05-02T01:11:33-0600           high
697   -86.732261  2021-05-03T10:00:40-0500           high
887  -111.785947  2021-05-04T12:11:22-0600           high
900  -104.998604  2021-04-24T10:41:06-0600           high
998  -104.998604  2021-04-14T10:51:36-0600           high
1208  -82.319202  2021-04-20T14:46:55-0400           high
1308 -104.998604  2021-04-28T10:12:14-0600           high
1828  -80.934561  2021-04-07T17:10:06-0400           high
2270  -86.817617  2021-04-24T04:50:56-0500           high
2481 -104.998604  2021-05-02T01:10:47-0600           high
2603 -117.287060  2021-04-29T16:19:54-0700            low
2792  -95.852118  2021-04-21T07:21:00-0500           high
2931  -82.319202  2021-04-14T11:25:14-0400           high
3263 -157.865187  2021-05-03T16:10:46-1000           high
3476  -90.857163  2021-04-15T10:45:56-0500           high
3488 -104.998604  2021-04-10T10:12:15-0600           high
3634 -104.998604  2021-04-20T10:41:16-0600           high
4178  -90.857163  2021-04-10T10:44:02-0500           high
6055 -104.998604  2021-04-21T10:12:30-0600           high
6130  -96.023096  2021-04-20T12:31:36-0500           high
6254  -86.817617  2021-05-01T04:50:32-0500           high
7122  -96.023096  2021-04-22T12:20:37-0500         medium
7567 -111.925970  2021-05-03T09:15:32-0700           high
7730  -82.319202  2021-04-30T13:32:48-0400           high
7734 -104.998604  2021-04-29T13:00:48-0600           high
8437 -111.925724  2021-04-22T07:50:52-0700           high
8714  -89.894973  2021-05-04T13:30:34-0500         medium
9237 -104.998604  2021-05-03T10:50:33-0600           high
9454 -111.925970  2021-04-26T11:30:40-0700           high
9626  -96.023096  2021-04-19T09:30:41-0500           high
9752 -111.925970  2021-05-03T11:14:44-0500           high
9855 -111.925970  2021-04-28T13:51:27-0700           high

                           date
342   2021-04-09 13:31:03+00:00
418   2021-05-03 18:31:39+00:00
423   2021-05-02 07:11:33+00:00
697   2021-05-03 15:00:40+00:00
887   2021-05-04 18:11:22+00:00
900   2021-04-24 16:41:06+00:00
998   2021-04-14 16:51:36+00:00
1208  2021-04-20 18:46:55+00:00
1308  2021-04-28 16:12:14+00:00
1828  2021-04-07 21:10:06+00:00
2270  2021-04-24 09:50:56+00:00
2481  2021-05-02 07:10:47+00:00
2603  2021-04-29 23:19:54+00:00
2792  2021-04-21 12:21:00+00:00
2931  2021-04-14 15:25:14+00:00
3263  2021-05-04 02:10:46+00:00
3476  2021-04-15 15:45:56+00:00
3488  2021-04-10 16:12:15+00:00
3634  2021-04-20 16:41:16+00:00
4178  2021-04-10 15:44:02+00:00
6055  2021-04-21 16:12:30+00:00
6130  2021-04-20 17:31:36+00:00
6254  2021-05-01 09:50:32+00:00
7122  2021-04-22 17:20:37+00:00
7567  2021-05-03 16:15:32+00:00
7730  2021-04-30 17:32:48+00:00
7734  2021-04-29 19:00:48+00:00
8437  2021-04-22 14:50:52+00:00
8714  2021-05-04 18:30:34+00:00
9237  2021-05-03 16:50:33+00:00
9454  2021-04-26 18:30:40+00:00
9626  2021-04-19 14:30:41+00:00
9752  2021-05-03 16:14:44+00:00
9855  2021-04-28 20:51:27+00:00

5. Обработайте пропуски, удалив записи, в которых год выпуска автомобиля не заполнен, и сохраните обновлённый датафрейм, а затем выведите его размерность.

In [25]:
df_cleaned = df.dropna(subset=['year'])
print("Размерность очищенного датафрейма:")
print(df_cleaned.shape)

Размерность очищенного датафрейма:
(9868, 20)

6. Выведите количество пропущенных значений в годе выпуска автомобиля для обновлённого датафрейма.

In [29]:
print("Количество пропущенных значений в year: ", end="") 
print(df_cleaned['year'].isnull().sum())

Количество пропущенных значений в year: 0

### Задача 3. Обработка пропусков в типе топлива

1. Выведите количество значений для типа топлива, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

In [35]:
print("Количество значений для типа топлива (включая пропущенные):")
print(df_cleaned['fuel'].value_counts(dropna=False))

print("\nКоличество пропущенных значений для типа топлива:")
print(df_cleaned['fuel'].isnull().sum())

Количество значений для типа топлива (включая пропущенные):
fuel
gas         8298
other        725
diesel       643
hybrid       104
NaN           54
electric      44
Name: count, dtype: int64

Количество пропущенных значений для типа топлива:
54

2. Выведите описательные статистики для типа топлива.

In [47]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['fuel'].describe())

Описательные статистики для года выпуска автомобиля:
count     9841
unique       5
top        gas
freq      8321
Name: fuel, dtype: object

3. Выведите записи, в которых тип топлива не заполнен. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

In [49]:
print("Записи, в которых год выпуска автомобиля не заполнен:")
print(df[df['fuel'].isnull()])

Записи, в которых год выпуска автомобиля не заполнен:
              id                                                url  \
1     7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
32    7309910590  https://eugene.craigslist.org/ctd/d/eugene-200...
78    7314559074  https://eugene.craigslist.org/ctd/d/eugene-200...
273   7315141987  https://honolulu.craigslist.org/oah/ctd/d/fort...
423   7315662117  https://westslope.craigslist.org/ctd/d/denver-...
...          ...                                                ...
8682  7313576130  https://cnj.craigslist.org/ctd/d/parlin-2012-j...
9351  7309365699  https://fortmyers.craigslist.org/chl/ctd/d/bra...
9541  7313475467  https://eugene.craigslist.org/ctd/d/eugene-201...
9708  7313949726  https://harrisburg.craigslist.org/ctd/d/brockp...
9718  7314349617  https://eugene.craigslist.org/ctd/d/eugene-200...

                     region                         region_url  price    year  \
1              north jersey   https://newjersey.craigslist.org  16942  2016.0
32                   eugene      https://eugene.craigslist.org   4977  2001.0
78                   eugene      https://eugene.craigslist.org  27977  2009.0
273                  hawaii    https://honolulu.craigslist.org  29888  2019.0
423           western slope   https://westslope.craigslist.org  43900     NaN
...                     ...                                ...    ...     ...
8682             central NJ         https://cnj.craigslist.org  23500  2012.0
9351  ft myers / SW florida   https://fortmyers.craigslist.org  14997  2010.0
9541                 eugene      https://eugene.craigslist.org   9979  2012.0
9708             harrisburg  https://harrisburg.craigslist.org   8900  2012.0
9718                 eugene      https://eugene.craigslist.org  11976  2008.0

     manufacturer                                   model fuel  odometer  \
1            ford                    explorer 4wd 4dr xlt  NaN     60023
32         toyota  camry solara 2dr cpe se v6 auto (natl)  NaN    193242
78           ford       f-150 4wd supercrew 145" platinum  NaN     79522
273        nissan           frontier crew cab 4x2 sv auto  NaN     10679
423         other                           Grand Caravan  NaN        21
...           ...                                     ...  ...       ...
8682         jeep       wrangler unlimited 4wd 4dr sahara  NaN    105927
9351         ford                                   e-350  NaN    153120
9541    chevrolet                equinox awd 4dr lt w/1lt  NaN    165554
9708        honda                                  accord  NaN     95674
9718        acura                             mdx 4wd 4dr  NaN    156801

     title_status transmission  \
1           clean    automatic
32          clean    automatic
78          clean    automatic
273         clean    automatic
423         clean    automatic
...           ...          ...
8682        clean    automatic
9351        clean       manual
9541        clean    automatic
9708          NaN        other
9718        clean    automatic

                                              image_url  \
1     https://images.craigslist.org/00x0x_26jl9F0cnL...
32    https://images.craigslist.org/00F0F_ebtJlxCQjv...
78    https://images.craigslist.org/00L0L_khoMmqXaSJ...
273   https://images.craigslist.org/00F0F_d9wEXQuSyu...
423   https://images.craigslist.org/00f0f_7AwipNocNH...
...                                                 ...
8682  https://images.craigslist.org/00u0u_erwAahcIeQ...
9351  https://images.craigslist.org/00606_hQvq6K6D4p...
9541  https://images.craigslist.org/00q0q_haS6HKqYq4...
9708  https://images.craigslist.org/01212_dsfYRNhxfd...
9718  https://images.craigslist.org/00K0K_8iyrQ1sWEh...

                                            description state        lat  \
1     ***Call Us for more information at: 201-635-14...    nj  40.821805
32    ***Call Us for more information at: 541-228-94...    or  44.076513
78    ***Call Us for more information at: 541-228-94...    or  44.076513
273   ***Call Us for more information at: 877-262-34...    hi  21.344376
423   2019 *Dodge* *Grand Caravan* SE - $43,900Call ...    co  39.674406
...                                                 ...   ...        ...
8682  ***Call Us for more information at: 732-316-55...    nj  40.468650
9351  2010 *Ford* *E-350* 12 Passenger Van - $14,997...    fl  27.479823
9541  ***Call Us for more information at: 541-228-94...    or  44.076513
9708  Car Starz Call Sales at 717-401-4221 2012 Hond...    pa  41.261540
9718  ***Call Us for more information at: 541-228-94...    or  44.076513

            long              posting_date price_category  \
1     -74.061962  2021-05-03T15:40:21-0400         medium
32   -123.150156  2021-04-20T10:40:15-0700            low
78   -123.150156  2021-04-29T15:15:30-0700           high
273  -157.896975  2021-04-30T15:50:19-1000           high
423  -104.998604  2021-05-02T01:11:33-0600           high
...          ...                       ...            ...
8682  -74.296990  2021-04-27T18:15:18-0400           high
9351  -82.571497  2021-04-19T14:01:14-0400         medium
9541 -123.150156  2021-04-27T12:10:24-0700         medium
9708  -78.704520  2021-04-28T14:25:32-0400            low
9718 -123.150156  2021-04-29T09:05:16-0700         medium

                           date
1     2021-05-03 19:40:21+00:00
32    2021-04-20 17:40:15+00:00
78    2021-04-29 22:15:30+00:00
273   2021-05-01 01:50:19+00:00
423   2021-05-02 07:11:33+00:00
...                         ...
8682  2021-04-27 22:15:18+00:00
9351  2021-04-19 18:01:14+00:00
9541  2021-04-27 19:10:24+00:00
9708  2021-04-28 18:25:32+00:00
9718  2021-04-29 16:05:16+00:00

[61 rows x 20 columns]

4. Обработайте пропуски, заполнив незаполненные значения типа топлива значением `other`, и сохраните изменения. Обратите внимание, что мы заполняем пропуски не самым популярным значением в выборке.

In [51]:
 df['fuel'] = df['fuel'].fillna('other')
 print("Количество пропусков в 'fuel':", df['fuel'].isnull().sum())

Количество пропусков в 'fuel': 0

5. Выведите для обновлённого датафрейма количество пропущенных значений для типа топлива.

In [59]:
print("Количество пропущенных значений в fuel: ", end="") 
print(df['fuel'].isnull().sum())

Количество пропущенных значений в fuel: 0

### Задача 4. Обработка пропусков в модели автомобиля

1. Выведите количество значений для модели автомобиля, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

In [65]:
print("Количество значений для каждой модели (включая пропущенные):")
print(df['model'].value_counts(dropna=False))
missing_count = df['model'].isnull().sum()
print(f"\nОбщее количество пропущенных значений в столбце 'model': {missing_count}")

Количество значений для каждой модели (включая пропущенные):
model
f-150                        148
NaN                          126
silverado 1500               106
1500                         100
camry                         76
                            ...
grand caravan sport            1
Nascar                         1
titan le                       1
sorrento lx v6                 1
a3 2.0t premium plus pzev      1
Name: count, Length: 3458, dtype: int64

Общее количество пропущенных значений в столбце 'model': 126

2. Выведите описательные статистики для модели автомобиля.

In [67]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['model'].describe())

Описательные статистики для года выпуска автомобиля:
count      9776
unique     3457
top       f-150
freq        148
Name: model, dtype: object

3. Выведите записи, в которых модель автомобиля не заполнена. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

In [71]:
missing_model = df[df['model'].isnull()]

print("Количество записей с пропущенной моделью:", len(missing_model))
print("\nЗаписи с пропущенной моделью:")
print(missing_model)

Количество записей с пропущенной моделью: 126

Записи с пропущенной моделью:
              id                                                url  \
67    7316913641  https://ventura.craigslist.org/cto/d/camarillo...
140   7316550853  https://chicago.craigslist.org/chc/cto/d/midlo...
149   7303575863  https://worcester.craigslist.org/ctd/d/fitchbu...
198   7315267860  https://gainesville.craigslist.org/ctd/d/kissi...
249   7316024407  https://reading.craigslist.org/ctd/d/paterson-...
...          ...                                                ...
9469  7314341390  https://desmoines.craigslist.org/cto/d/urbanda...
9521  7304358131  https://vermont.craigslist.org/ctd/d/salem-201...
9573  7309686008  https://louisville.craigslist.org/cto/d/radcli...
9828  7316447901  https://tulsa.craigslist.org/cto/d/tulsa-2017-...
9874  7316458200  https://portland.craigslist.org/mlt/cto/d/port...

                      region                          region_url  price  \
67            ventura county      https://ventura.craigslist.org   3000
140                  chicago      https://chicago.craigslist.org   3000
149   worcester / central MA    https://worcester.craigslist.org   7800
198              gainesville  https://gainesville.craigslist.org  19200
249                  reading      https://reading.craigslist.org  18695
...                      ...                                 ...    ...
9469              des moines    https://desmoines.craigslist.org   8000
9521                 vermont      https://vermont.craigslist.org  19944
9573              louisville   https://louisville.craigslist.org   1600
9828                   tulsa        https://tulsa.craigslist.org  65000
9874                portland     https://portland.craigslist.org  18500

        year manufacturer model    fuel  odometer title_status transmission  \
67    2005.0        rover   NaN     gas    165206        clean    automatic
140   2006.0         jeep   NaN     gas    132000        clean    automatic
149   2007.0          gmc   NaN     gas    190000        clean    automatic
198   2012.0          ram   NaN     gas    121371        clean    automatic
249   2007.0          ram   NaN  diesel    220019        clean    automatic
...      ...          ...   ...     ...       ...          ...          ...
9469  2007.0       toyota   NaN     gas     85285        clean    automatic
9521  2012.0          ram   NaN     gas     73082        clean    automatic
9573  2005.0          gmc   NaN     gas     52536        clean    automatic
9828  2017.0        rover   NaN     gas     47000        clean    automatic
9874  1972.0    chevrolet   NaN     gas     75000        clean    automatic

                                              image_url  \
67    https://images.craigslist.org/00S0S_b3yx6L4N2S...
140   https://images.craigslist.org/01111_kNv3EKjH4H...
149   https://images.craigslist.org/00f0f_iWjiToqea2...
198   https://images.craigslist.org/00W0W_hHV4D0Po0G...
249   https://images.craigslist.org/00n0n_jgq4eOvH7I...
...                                                 ...
9469  https://images.craigslist.org/00K0K_aMoJgOIueB...
9521  https://images.craigslist.org/00A0A_bfCaGJ20IX...
9573  https://images.craigslist.org/01111_99unV6cYER...
9828  https://images.craigslist.org/00s0s_iGpmplDL99...
9874  https://images.craigslist.org/00x0x_7FqS8iHJst...

                                            description state        lat  \
67    2005 Range Rover HSE  Changed Oil and now engi...    ca  34.219565
140   SUPER CLEAN 2006 JEEP LIBEERY RANAGADE  4X4  O...    il  41.618957
149   2007 gmc with plow leather loaded nice truck r...    ma  42.579600
198   2012 RAM 1500 Laramie Crew Cab 2WD     Offered...    fl  28.329026
249   2007 Dodge Ram 2500 SLT 4x4 Quad Cab Cummins D...    pa  40.894535
...                                                 ...   ...        ...
9469  Toyota has been owned by non smoker with no pe...    ia  41.629500
9521  2012 RAM 1500 4WD REGULAR CAB SHORT BED 5.7 HE...    vt  42.788204
9573  GMC Savana PRO AWD cargo van has been driven l...    ky  37.858900
9828  2017 Range Rover HSE, supercharged V8, silver ...    ok  36.126200
9874  1972 classic Chevrolet pick up custom  deluxe ...    or  45.494960

            long              posting_date price_category  \
67   -119.001986  2021-05-04T13:11:15-0700            low
140   -87.726334  2021-05-03T20:33:40-0500            low
149   -71.803100  2021-04-08T09:10:07-0400            low
198   -81.404237  2021-05-01T10:05:17-0400         medium
249   -74.152367  2021-05-02T21:06:09-0400         medium
...          ...                       ...            ...
9469  -93.723000  2021-04-29T10:50:54-0500            low
9521  -71.233728  2021-04-09T16:24:23-0400         medium
9573  -86.006900  2021-04-20T04:48:30-0400            low
9828  -95.940800  2021-05-03T16:37:36-0500           high
9874 -122.666988  2021-05-03T14:58:34-0700         medium

                           date
67    2021-05-04 20:11:15+00:00
140   2021-05-04 01:33:40+00:00
149   2021-04-08 13:10:07+00:00
198   2021-05-01 14:05:17+00:00
249   2021-05-03 01:06:09+00:00
...                         ...
9469  2021-04-29 15:50:54+00:00
9521  2021-04-09 20:24:23+00:00
9573  2021-04-20 08:48:30+00:00
9828  2021-05-03 21:37:36+00:00
9874  2021-05-03 21:58:34+00:00

[126 rows x 20 columns]

4. Если подробнее изучить значения описания автомобиля, то, возможно, модель автомобиля получится восстановить из описания. Сейчас обработайте пропуски, заполнив незаполненные значения модели автомобиля значением `other`, и сохраните изменения. Обратите внимание, что мы в очередной раз заполняем пропуски не самым популярным значением в выборке.

In [79]:
df['model'].fillna('other', inplace=True)
print("Количество пропусков в 'model':", df['model'].isnull().sum())

Количество пропусков в 'model': 0

5. Выведите для обновлённого датафрейма количество пропущенных значений для модели автомобиля.

In [81]:
print("Количество пропущенных значений в model: ", end="") 
print(df['model'].isnull().sum())

Количество пропущенных значений в model: 0

### Задача 5. Обработка пропусков в статусе автомобиля

1. Выведите количество значений для статуса автомобиля, включая пропущенные значения. Обратите внимание на количество пропущенных значений.

In [83]:
print("Количество значений для каждого статуса (включая пропущенные):")
print(df['title_status'].value_counts(dropna=False))

missing_count = df['title_status'].isnull().sum()
print(f"\nКоличество пропущенных значений в столбце 'title_status': {missing_count}")

Количество значений для каждого статуса (включая пропущенные):
title_status
clean         9423
rebuilt        171
NaN            164
salvage         91
lien            35
missing         16
parts only       2
Name: count, dtype: int64

Количество пропущенных значений в столбце 'title_status': 164

2. Выведите описательные статистики для модели автомобиля.

In [87]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['title_status'].describe())

Описательные статистики для года выпуска автомобиля:
count      9738
unique        6
top       clean
freq       9423
Name: title_status, dtype: object

3. Выведите записи, в которых статус автомобиля не заполнен. Посмотрите на данные и подумайте, какую стратегию обработки значений можно применить.

In [85]:
missing_mode2 = df[df['title_status'].isnull()]

print("Количество записей с пропущенной моделью:", len(missing_model))
print("\nЗаписи с пропущенной моделью:")
print(missing_mode2)

Количество записей с пропущенной моделью: 126

Записи с пропущенной моделью:
              id                                                url  \
11    7316540706  https://cincinnati.craigslist.org/ctd/d/fairfi...
185   7313570594  https://orangecounty.craigslist.org/ctd/d/coro...
243   7315211652  https://ocala.craigslist.org/ctd/d/riverview-2...
284   7306702976  https://toledo.craigslist.org/ctd/d/chelsea-73...
310   7307609203  https://roseburg.craigslist.org/ctd/d/eugene-2...
...          ...                                                ...
9643  7301707830  https://tricities.craigslist.org/ctd/d/bristol...
9708  7313949726  https://harrisburg.craigslist.org/ctd/d/brockp...
9743  7314987181  https://nashville.craigslist.org/ctd/d/nashvil...
9759  7309717260  https://savannah.craigslist.org/ctd/d/jacksonv...
9883  7315557731  https://minneapolis.craigslist.org/csw/ctd/d/d...

                     region                           region_url  price  \
11               cincinnati    https://cincinnati.craigslist.org   4995
185           orange county  https://orangecounty.craigslist.org  17900
243                   ocala         https://ocala.craigslist.org  40990
284                  toledo        https://toledo.craigslist.org   4592
310                roseburg      https://roseburg.craigslist.org  18450
...                     ...                                  ...    ...
9643             tri-cities     https://tricities.craigslist.org   8995
9708             harrisburg    https://harrisburg.craigslist.org   8900
9743              nashville     https://nashville.craigslist.org  20900
9759  savannah / hinesville      https://savannah.craigslist.org  11495
9883  minneapolis / st paul   https://minneapolis.craigslist.org  38943

        year manufacturer                    model    fuel  odometer  \
11    2012.0         fiat                  500 pop     gas     59242
185   2013.0          ram  1500 tradesman quad cab     gas    145499
243   2019.0       toyota               sienna xle     gas      3700
284   2003.0    chevrolet           avalanche 1500     gas    268691
310   2017.0         ford                  mustang     gas     66049
...      ...          ...                      ...     ...       ...
9643  2013.0        honda                  odyssey     gas    203112
9708  2012.0        honda                   accord   other     95674
9743  2014.0        lexus                   rx 350     gas     70800
9759  2006.0        lexus                   gx 470     gas    242000
9883  2008.0         ford   f750 super duty - 55ft  diesel     81214

     title_status transmission  \
11            NaN       manual
185           NaN    automatic
243           NaN    automatic
284           NaN    automatic
310           NaN    automatic
...           ...          ...
9643          NaN    automatic
9708          NaN        other
9743          NaN    automatic
9759          NaN    automatic
9883          NaN    automatic

                                              image_url  \
11    https://images.craigslist.org/00Z0Z_jbUmVcYlwR...
185   https://images.craigslist.org/00H0H_1JFMPCYyW8...
243   https://images.craigslist.org/01111_grKNF8GrXz...
284   https://images.craigslist.org/00808_1IOMJuA4GL...
310   https://images.craigslist.org/00505_4apF36sLbP...
...                                                 ...
9643  https://images.craigslist.org/00u0u_bawW7HN8xW...
9708  https://images.craigslist.org/01212_dsfYRNhxfd...
9743  https://images.craigslist.org/00Q0Q_cGablAkoYV...
9759  https://images.craigslist.org/00s0s_8xg4gw6aAg...
9883  https://images.craigslist.org/00y0y_5jr8fQlu7e...

                                            description state        lat  \
11    2012 Fiat 500 Pop FOR ONLY $102/mo!59,242 mi. ...    oh  39.297045
185   2013 Ram 1500 Tradesman Quad Cab PRICED TO SEL...    ca  33.873436
243   2019 Toyota Sienna - Wheelchair Accessible Han...    fl  27.849760
284   $73/mo - 2003 Chevrolet Avalanche 1500 BaseCre...    oh  42.300673
310   2017 Ford MUSTANG - $18,450 \tMayberry Motors ...    or  44.058499
...                                                 ...   ...        ...
9643  2013 *Honda* *Odyssey* 5dr EX Van FWD - $8,995...    tn  36.541821
9708  Car Starz Call Sales at 717-401-4221 2012 Hond...    pa  41.261540
9743  2014 *Lexus* *RX 350* 2014 LEXUS RX 350 SUV 1-...    tn  36.138022
9759  2006 *Lexus* *GX 470* 4dr SUV 4WD - $11,495By ...    ga  30.513566
9883  2008 Ford F750 F 750 F-750 Super Duty 55ft 55 ...    mn  45.082884

            long              posting_date price_category  \
11    -84.563243  2021-05-03T21:03:32-0400            low
185  -117.542806  2021-04-27T15:03:47-0700         medium
243   -82.364950  2021-05-01T06:35:56-0400           high
284   -84.024108  2021-04-14T12:03:01-0400            low
310  -123.106176  2021-04-16T04:06:29-0700         medium
...          ...                       ...            ...
9643  -82.234645  2021-04-04T13:12:27-0400            low
9708  -78.704520  2021-04-28T14:25:32-0400            low
9743  -86.732261  2021-04-30T15:00:48-0500         medium
9759  -81.621875  2021-04-20T08:01:49-0400         medium
9883  -94.334760  2021-05-01T18:03:06-0500           high

                           date
11    2021-05-04 01:03:32+00:00
185   2021-04-27 22:03:47+00:00
243   2021-05-01 10:35:56+00:00
284   2021-04-14 16:03:01+00:00
310   2021-04-16 11:06:29+00:00
...                         ...
9643  2021-04-04 17:12:27+00:00
9708  2021-04-28 18:25:32+00:00
9743  2021-04-30 20:00:48+00:00
9759  2021-04-20 12:01:49+00:00
9883  2021-05-01 23:03:06+00:00

[164 rows x 20 columns]

4. Обработайте пропуски, заполнив незаполненные значения статуса автомобиля самым популярным значением, и сохраните изменения. Самое популярное значение передайте не в виде строки, а получите моду.

In [93]:
most_frequent_status = df['title_status'].mode()[0]
df['title_status'].fillna(most_frequent_status, inplace=True)
print(f"Пропущенные значения в столбце 'title_status' заполнены значением '{most_frequent_status}'.")

Пропущенные значения в столбце 'title_status' заполнены значением 'clean'.

5. Выведите для обновлённого датафрейма количество пропущенных значений для статуса автомобиля.

In [99]:
print("Количество пропущенных значений в title_status:") 
print(df['title_status'].isnull().sum())

Количество пропущенных значений в title_status:
0

6. Ещё раз выведите количество полностью заполненных объектов и их процент из всей выборки. После обработки всех пропусков можно переходить к следующему этапу.

In [121]:
total_rows = len(df)
complete_rows = df.dropna().shape[0]
percentage = (complete_rows / total_rows * 100)
print(f"Общее количество строк в DataFrame: {total_rows}")
print(f"Количество полностью заполненных строк: {complete_rows}")
print(f"Процент полностью заполненных строк: {percentage}%")

Общее количество строк в DataFrame: 9902
Количество полностью заполненных строк: 9868
Процент полностью заполненных строк: 99.65663502322764%

### Задача 6. Преобразование типа данных в годе выпуска автомобиля
1.  Выведите информацию о датафрейме и обратите внимание на типы данных.

In [123]:
print(df.info())
print("\nКоличество пропущенных значений по столбцам:")
print(df.isnull().sum())
print("\nПроцент пропущенных значений по столбцам:")
print(df.isnull().mean() * 100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9902 entries, 0 to 9901
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              9902 non-null   int64
 1   url             9902 non-null   object
 2   region          9902 non-null   object
 3   region_url      9902 non-null   object
 4   price           9902 non-null   int64
 5   year            9868 non-null   float64
 6   manufacturer    9902 non-null   object
 7   model           9902 non-null   object
 8   fuel            9902 non-null   object
 9   odometer        9902 non-null   int64
 10  title_status    9902 non-null   object
 11  transmission    9902 non-null   object
 12  image_url       9902 non-null   object
 13  description     9902 non-null   object
 14  state           9902 non-null   object
 15  lat             9902 non-null   float64
 16  long            9902 non-null   float64
 17  posting_date    9902 non-null   object
 18  price_category  9902 non-null   object
 19  date            9902 non-null   object
dtypes: float64(3), int64(3), object(14)
memory usage: 1.5+ MB
None

Количество пропущенных значений по столбцам:
id                 0
url                0
region             0
region_url         0
price              0
year              34
manufacturer       0
model              0
fuel               0
odometer           0
title_status       0
transmission       0
image_url          0
description        0
state              0
lat                0
long               0
posting_date       0
price_category     0
date               0
dtype: int64

Процент пропущенных значений по столбцам:
id                0.000000
url               0.000000
region            0.000000
region_url        0.000000
price             0.000000
year              0.343365
manufacturer      0.000000
model             0.000000
fuel              0.000000
odometer          0.000000
title_status      0.000000
transmission      0.000000
image_url         0.000000
description       0.000000
state             0.000000
lat               0.000000
long              0.000000
posting_date      0.000000
price_category    0.000000
date              0.000000
dtype: float64

2. Выведите описательные статистики для года выпуска автомобиля. Обратите внимание на тип данных.

In [125]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['title_status'].describe())

Описательные статистики для года выпуска автомобиля:
count      9902
unique        6
top       clean
freq       9587
Name: title_status, dtype: object

3. Измените тип данных для года выпуска на более подходящий целочисленный тип и выведите получившийся тип данных только для года выпуска.

In [133]:
df['year'] = df['year'].fillna(0)
df['year'] = df['year'].astype('int')
print(f"Тип данных для столбца 'year' после преобразования: {df['year'].dtype}")

Тип данных для столбца 'year' после преобразования: int32

### Задача 7. Преобразование типа данных в категориальных переменных

1. Выведите тип данных для типа топлива автомобиля.

In [135]:
 print(f"Тип данных для столбца 'fuel': {df['fuel'].dtype}")

Тип данных для столбца 'fuel': object

2. Категориальным переменным можно задавать специальный тип данных `category`. Подробнее об этом можно прочитать в [документации](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html). Укажите для типа топлива тип данных `category`, сохраните изменения в переменную `series` и выведите её.

In [143]:
series = df['fuel'].astype('category')
print(f"Тип данных для столбца 'fuel' после преобразования: {series.dtype}")
print("\nSeries с типом данных category:")
print(series)

Тип данных для столбца 'fuel' после преобразования: category

Series с типом данных category:
0       diesel
1        other
2          gas
3          gas
4          gas
         ...
9897       gas
9898       gas
9899       gas
9900    hybrid
9901       gas
Name: fuel, Length: 9902, dtype: category
Categories (5, object): ['diesel', 'electric', 'gas', 'hybrid', 'other']

3. Выведите тип данных для серии. Обратите внимание на структуру вывода.

In [147]:
print(f"Тип данных для столбца 'fuel' после преобразования: {series.dtype}")
print("\nSeries с типом данных category:")
print(series)

Тип данных для столбца 'fuel' после преобразования: category

Series с типом данных category:
0       diesel
1        other
2          gas
3          gas
4          gas
         ...
9897       gas
9898       gas
9899       gas
9900    hybrid
9901       gas
Name: fuel, Length: 9902, dtype: category
Categories (5, object): ['diesel', 'electric', 'gas', 'hybrid', 'other']

4. Выведите первые две категории, используя вывод типа данных выше.

In [149]:
print(f"Тип данных для серии fuel_series: {series.dtype}")
print("\nПервые две категории в series:")
print(series.cat.categories[:2])

Тип данных для серии fuel_series: category

Первые две категории в series:
Index(['diesel', 'electric'], dtype='object')

### Задача 8. Выбросы в годе выпуска

1. Выведите описательные статистики для года выпуска автомобиля. Обратите внимание на пограничные значения, на квартили.

In [151]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['year'].describe())
print("\nКвартили:")
print(df['year'].quantile([0.25, 0.5, 0.75]))

Описательные статистики для года выпуска автомобиля:
count    9902.000000
mean     2004.004948
std       118.035811
min         0.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

Квартили:
0.25    2008.0
0.50    2013.0
0.75    2017.0
Name: year, dtype: float64

2. Выведите границы для нормальных значений года выпуска, используя интерквартильный размах. Воспользуйтесь материалами из видео. Посмотрите, входят ли минимальное и максимальное значения в интервал между полученными границами.

In [153]:
print("Описательные статистики для года выпуска автомобиля:")
print(df['year'].describe())
print("\nКвартили:")
print(df['year'].quantile([0.25, 0.5, 0.75]))

Описательные статистики для года выпуска автомобиля:
count    9902.000000
mean     2004.004948
std       118.035811
min         0.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

Квартили:
0.25    2008.0
0.50    2013.0
0.75    2017.0
Name: year, dtype: float64

3. Посчитайте и выведите количество выбросов в годе выпуска автомобиля.

In [155]:
Q1 = df['year'].quantile(0.25)
Q3 = df['year'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = df[(df['year'] < lower_bound) | (df['year'] > upper_bound)]
num_outliers = len(outliers)

print(f"Количество выбросов в годе выпуска: {num_outliers}")

Количество выбросов в годе выпуска: 428

4. Посчитайте и выведите долю выбросов в годе выпуска автомобиля.

In [173]:
outliers = df[(df['year'] < lower_bound) | (df['year'] > upper_bound)]
num_outliers = len(outliers)
total_count = len(df)
outliers_percentage = (num_outliers / total_count) * 100

print(f"Доля выбросов в годе выпуска: {outliers_percentage:.2f}%")

Доля выбросов в годе выпуска: 0.00%

5. Выведите записи, в которых год выпуска попадает в выбросы. Посмотрите на данные и подумайте, могут ли эти выбросы описывать особые значения категории цены или других признаков или действительно являются выбросами.

In [195]:
Q1 = df['year'].quantile(0.25)
Q3 = df['year'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers_df = df[(df['year'] < lower_bound) | (df['year'] > upper_bound)]

print("Записи с годом выпуска, являющимся выбросом:")
print(outliers_df)

Записи с годом выпуска, являющимся выбросом:
Empty DataFrame
Columns: [id, url, region, region_url, price, year, manufacturer, model, fuel, odometer, title_status, transmission, image_url, description, state, lat, long, posting_date, price_category, date]
Index: []

6. Выведите количество значений для категории цены для записей, в которых год выпуска автомобиля является выбросом. Описывают ли аномальные значения года выпуска какое-либо из значений цены автомобиля лучше, чем остальные?

In [185]:
outliers_df = df[(df['year'] < lower_bound) | (df['year'] > upper_bound)]
price_category_counts = outliers_df['price_category'].value_counts()
print("Распределение категорий цен среди выбросов года выпуска:")
print(price_category_counts)

Распределение категорий цен среди выбросов года выпуска:
Series([], Name: count, dtype: int64)

7. Так как выбросы в годе выпуска находятся среди минимальных значений, заполните те значения, которые являются выбросами, значением нижней границы. Не забудьте учесть, что год должен быть целочисленным значением, входящим в границы нормальных значений.

In [187]:
import numpy as np
lower_bound = int(np.ceil(lower_bound))
df['year'] = df['year'].apply(lambda year: lower_bound if year < lower_bound else year)
print("Записи после обработки:")
print(df)
print(f"Нижняя граница: {lower_bound}")

Записи после обработки:
              id                                                url  \
0     7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1     7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2     7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3     7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4     7316474668  https://newyork.craigslist.org/lgi/cto/d/baldw...
...          ...                                                ...
9897  7304876387  https://chautauqua.craigslist.org/ctd/d/falcon...
9898  7316152972  https://binghamton.craigslist.org/ctd/d/roches...
9899  7310993818  https://salem.craigslist.org/ctd/d/salem-2011-...
9900  7306637427  https://madison.craigslist.org/ctd/d/madison-2...
9901  7311960763  https://norfolk.craigslist.org/ctd/d/chesapeak...

                       region                           region_url  price  \
0                 chattanooga   https://chattanooga.craigslist.org  54990
1                north jersey     https://newjersey.craigslist.org  16942
2                reno / tahoe          https://reno.craigslist.org  35590
3                fayetteville  https://fayetteville.craigslist.org  14500
4               new york city       https://newyork.craigslist.org  21800
...                       ...                                  ...    ...
9897               chautauqua    https://chautauqua.craigslist.org   4495
9898               binghamton    https://binghamton.craigslist.org  14495
9899                    salem         https://salem.craigslist.org   8995
9900                  madison       https://madison.craigslist.org  31900
9901  norfolk / hampton roads       https://norfolk.craigslist.org  31990

      year manufacturer                      model    fuel  odometer  \
0     2020          ram     2500 crew cab big horn  diesel     27442
1     2016         ford       explorer 4wd 4dr xlt   other     60023
2     2017   volkswagen           golf r hatchback     gas     14048
3     2013       toyota                       rav4     gas    117291
4     2021       nissan                     altima     gas      8000
...    ...          ...                        ...     ...       ...
9897  2002       toyota                       rav4     gas    150000
9898  2008         jeep                   wrangler     gas    113573
9899  2011         audi  a3 2.0t premium plus pzev     gas    150184
9900  2015      porsche                    cayenne  hybrid     61943
9901  2017          ram     1500 crew cab big horn     gas     35921

     title_status transmission  \
0           clean        other
1           clean    automatic
2           clean        other
3           clean    automatic
4           clean    automatic
...           ...          ...
9897        clean    automatic
9898        clean        other
9899        clean    automatic
9900        clean    automatic
9901        clean        other

                                              image_url  \
0     https://images.craigslist.org/00N0N_1xMPvfxRAI...
1     https://images.craigslist.org/00x0x_26jl9F0cnL...
2     https://images.craigslist.org/00y0y_eeZjWeiSfb...
3     https://images.craigslist.org/00606_iGe5iXidib...
4     https://images.craigslist.org/00V0V_3pSOiPZ3Sd...
...                                                 ...
9897  https://images.craigslist.org/00n0n_aaEBqmzz5Z...
9898  https://images.craigslist.org/00000_9ZNVdXaiei...
9899  https://images.craigslist.org/00X0X_k5JiZDDyqM...
9900  https://images.craigslist.org/00O0O_gBihGEQxYT...
9901  https://images.craigslist.org/00c0c_4rTlvLXy36...

                                            description state        lat  \
0     Carvana is the safer way to buy a car During t...    tn  35.060000
1     ***Call Us for more information at: 201-635-14...    nj  40.821805
2     Carvana is the safer way to buy a car During t...    ca  33.779214
3     2013 Toyota RAV4 XLE 4dr SUV     Offered by: R...    nc  35.715954
4     2021 Nissan Altima Sv with Only 8 K Miles Titl...    ny  40.654800
...                                                 ...   ...        ...
9897  Transmission:Automatic Exterior Color:WHITE In...    ny  42.123900
9898  2008 Jeep Wrangler X  Offered by: R&L Auto -- ...    ny  43.216990
9899  2011 Audi A3 2.0T Premium Plus PZEV Wagon2011 ...    or  44.925908
9900  2015 Porsche Cayenne AWD 4dr S E-Hybrid - $31,...    wi  43.029559
9901  Carvana is the safer way to buy a car During t...    va  36.670000

            long              posting_date price_category  \
0     -85.250000  2021-04-17T12:30:50-0400           high
1     -74.061962  2021-05-03T15:40:21-0400         medium
2     -84.411811  2021-04-28T03:52:20-0700           high
3     -78.655304  2021-04-17T10:08:57-0400         medium
4     -73.609700  2021-05-03T18:32:06-0400         medium
...          ...                       ...            ...
9897  -79.189500  2021-04-10T16:33:57-0400            low
9898  -77.755610  2021-05-03T09:36:30-0400         medium
9899 -122.982753  2021-04-22T12:14:01-0700            low
9900  -89.397796  2021-04-14T09:14:42-0500           high
9901  -76.300000  2021-04-24T13:50:49-0400           high

                           date
0     2021-04-17 16:30:50+00:00
1     2021-05-03 19:40:21+00:00
2     2021-04-28 10:52:20+00:00
3     2021-04-17 14:08:57+00:00
4     2021-05-03 22:32:06+00:00
...                         ...
9897  2021-04-10 20:33:57+00:00
9898  2021-05-03 13:36:30+00:00
9899  2021-04-22 19:14:01+00:00
9900  2021-04-14 14:14:42+00:00
9901  2021-04-24 17:50:49+00:00

[9902 rows x 20 columns]
Нижняя граница: 1995

8. Выведите ещё раз описательные статистики для года выпуска автомобиля, чтобы проверить, что теперь все значения года входят в границы нормальных значений.

In [193]:
print("Описательные статистики для года выпуска автомобиля после обработки:")
print(df['year'].describe())

Описательные статистики для года выпуска автомобиля после обработки:
count    9902.000000
mean     2011.640982
std         6.488020
min      1995.000000
25%      2008.000000
50%      2013.000000
75%      2017.000000
max      2022.000000
Name: year, dtype: float64

## Дополнительные задачи

### Задача 9. Загрузка датафрейма с параметрами преобразования

Некоторые преобразования признаков можно сделать ещё в момент загрузки датафрейма из файла.

1. Прочитайте в новый датафрейм файл `data/vehicles_dataset.csv`, выбрав только нужные колонки и применив приведение типов данных. Обратитесь к [документации](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html), чтобы узнать, за что отвечают параметры `usecols`,  `parse_dates` и `dtype`.


Датафрейм должен содержать:
- колонки `price`, `year`, `posting_date`;
- `posting_date` в datatime-формате;
- `price` в вещественном формате;
- `year` в целочисленном формате.

Возможно, вы столкнётесь с ошибкой при считывании года в виде целого числа. Подробнее о том, как бороться с этой ошибкой, можно узнать в документации по `обнуляемому целочисленному типу данных`:
- https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html

*Подсказка:* Pandas может представлять целочисленные данные с возможными отсутствующими значениями, используя [arrays.IntegerArray](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.arrays.IntegerArray.html#pandas.arrays.IntegerArray) или его псевдонимы, которые вы сможете найти в документации.

In [ ]:
# Ваш код здесь

2. Выведите информацию о датафрейме, чтобы убедиться, что признаки при загрузке преобразовались верно.

In [ ]:
# Ваш код здесь

3. Для первой записи в датафрейме извлеките из `posting_date` и выведите номер месяца.

In [ ]:
# Ваш код здесь