In [33]:
#загружаю датасет и вывожу первые пять записей
import pandas as pd
df = pd.read_csv("df_types.csv")
print(df.head())

           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7316474668  https://newyork.craigslist.org/lgi/cto/d/baldw...

          region                           region_url  price    year  \
0    chattanooga   https://chattanooga.craigslist.org  54990  2020.0
1   north jersey     https://newjersey.craigslist.org  16942  2016.0
2   reno / tahoe          https://reno.craigslist.org  35590  2017.0
3   fayetteville  https://fayetteville.craigslist.org  14500  2013.0
4  new york city       https://newyork.craigslist.org  21800  2021.0

  manufacturer                   model    fuel  odometer title_status  \
0          ram  2500 crew cab big horn  diesel     27442        clean
1         ford    explorer 4wd 4dr xlt     NaN     60023        clean
2   volkswagen        golf r hatchback     gas     14048        clean
3       toyota                    rav4     gas    117291        clean
4       nissan                  altima     gas      8000        clean

  transmission                                          image_url  \
0        other  https://images.craigslist.org/00N0N_1xMPvfxRAI...
1    automatic  https://images.craigslist.org/00x0x_26jl9F0cnL...
2        other  https://images.craigslist.org/00y0y_eeZjWeiSfb...
3    automatic  https://images.craigslist.org/00606_iGe5iXidib...
4    automatic  https://images.craigslist.org/00V0V_3pSOiPZ3Sd...

                                         description state        lat  \
0  Carvana is the safer way to buy a car During t...    tn  35.060000
1  ***Call Us for more information at: 201-635-14...    nj  40.821805
2  Carvana is the safer way to buy a car During t...    ca  33.779214
3  2013 Toyota RAV4 XLE 4dr SUV     Offered by: R...    nc  35.715954
4  2021 Nissan Altima Sv with Only 8 K Miles Titl...    ny  40.654800

        long              posting_date price_category  \
0 -85.250000  2021-04-17T12:30:50-0400           high
1 -74.061962  2021-05-03T15:40:21-0400         medium
2 -84.411811  2021-04-28T03:52:20-0700           high
3 -78.655304  2021-04-17T10:08:57-0400         medium
4 -73.609700  2021-05-03T18:32:06-0400         medium

                        date
0  2021-04-17 16:30:50+00:00
1  2021-05-03 19:40:21+00:00
2  2021-04-28 10:52:20+00:00
3  2021-04-17 14:08:57+00:00
4  2021-05-03 22:32:06+00:00

In [67]:
print(df.info())
print("\nКоличество пропущенных значений в каждом столбце:")
print(df.isnull().sum())
#вывожу информацию за незаполненные данные

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              10000 non-null  int64
 1   url             10000 non-null  object
 2   region          10000 non-null  category
 3   region_url      10000 non-null  object
 4   price           10000 non-null  int64
 5   year            10000 non-null  float64
 6   manufacturer    10000 non-null  category
 7   model           10000 non-null  category
 8   fuel            10000 non-null  category
 9   odometer        10000 non-null  int64
 10  title_status    10000 non-null  category
 11  transmission    9955 non-null   category
 12  image_url       9998 non-null   object
 13  description     9998 non-null   object
 14  state           10000 non-null  category
 15  lat             9902 non-null   float64
 16  long            9902 non-null   float64
 17  posting_date    9998 non-null   object
 18  price_category  10000 non-null  category
 19  date            9998 non-null   datetime64[ns, UTC]
dtypes: category(8), datetime64[ns, UTC](1), float64(3), int64(3), object(5)
memory usage: 1.2+ MB
None

Количество пропущенных значений в каждом столбце:
id                 0
url                0
region             0
region_url         0
price              0
year               0
manufacturer       0
model              0
fuel               0
odometer           0
title_status       0
transmission      45
image_url          2
description        2
state              0
lat               98
long              98
posting_date       2
price_category     0
date               2
dtype: int64

In [39]:
year_median = df["year"].median()
df.fillna({"year": year_median}, inplace=True)
print("\nКоличество пропущенных значений после заполнения медианой:\n", df["year"].isnull().sum())

Количество пропущенных значений после заполнения медианой:
 0

In [43]:
print("Количество пропущенных значений в 'fuel' до обработки:\n", df["fuel"].isnull().sum())
print("\nУникальные значения 'fuel' до обработки:\n", df['fuel'].unique())

Количество пропущенных значений в 'fuel' до обработки:
 63

Уникальные значения 'fuel' до обработки:
 ['diesel' nan 'gas' 'other' 'electric' 'hybrid']

In [45]:
fuel_mode = df["fuel"].mode()[0]  
df.fillna({'fuel': fuel_mode}, inplace=True)
print("\nКоличество пропущенных значений в 'fuel' после заполнения модой:\n", df["fuel"].isnull().sum())
print("\nУникальные значения в 'fuel' после заполнения модой:\n", df["fuel"].unique())
# Я не разбираюсь какие топлива в каких машинах, для этого требовалось бы больше времени, я бы изучил для этого, но было бы лучше изучить, прежде, чем все заменять модой, не спорю

Количество пропущенных значений в 'fuel' после заполнения модой:
 0

Уникальные значения в 'fuel' после заполнения модой:
 ['diesel' 'gas' 'other' 'electric' 'hybrid']

In [47]:
model_modes = df.groupby('manufacturer')['model'].apply(lambda x: x.mode()[0] if not x.mode().empty else None).to_dict()

df['model'] = df['model'].fillna(df['manufacturer'].map(model_modes))
print("\nКоличество пропущенных значений в 'model' после заполнения:\n", df["model"].isnull().sum())
print("\nУникальные значения в 'model' после заполнения:\n", df["model"].unique()) # Я выбрал данный метод исходя из того, что можно узнать из названия модель

Количество пропущенных значений в 'model' после заполнения:
 0

Уникальные значения в 'model' после заполнения:
 ['2500 crew cab big horn' 'explorer 4wd 4dr xlt' 'golf r hatchback' ...
 'navigator reserve' '1988 Nisan' 'a3 2.0t premium plus pzev']

In [49]:
title_status_mode = df["title_status"].mode()[0]
df["title_status"] = df["title_status"].fillna(title_status_mode)
print("\nКоличество пропущенных значений в 'title_status' после заполнения модой:\n", df["title_status"].isnull().sum())
print("\nУникальные значения в 'title_status' после заполнения модой:\n", df["title_status"].unique())

Количество пропущенных значений в 'title_status' после заполнения модой:
 0

Уникальные значения в 'title_status' после заполнения модой:
 ['clean' 'rebuilt' 'salvage' 'lien' 'missing' 'parts only']

In [51]:
#Заменил просто модой, потому что на мой взгляд это самое простое решение

In [55]:
df['date'] = pd.to_datetime(df['date'])
print("\nТип данных в столбце 'date' после преобразования:\n", df["date"].dtype)
print("\nПервые 5 строк дат после обработки:")
print(df.head())

Тип данных в столбце 'date' после преобразования:
 datetime64[ns, UTC]

Первые 5 строк дат после обработки:
           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7316474668  https://newyork.craigslist.org/lgi/cto/d/baldw...

          region                           region_url  price    year  \
0    chattanooga   https://chattanooga.craigslist.org  54990  2020.0
1   north jersey     https://newjersey.craigslist.org  16942  2016.0
2   reno / tahoe          https://reno.craigslist.org  35590  2017.0
3   fayetteville  https://fayetteville.craigslist.org  14500  2013.0
4  new york city       https://newyork.craigslist.org  21800  2021.0

  manufacturer                   model    fuel  odometer title_status  \
0          ram  2500 crew cab big horn  diesel     27442        clean
1         ford    explorer 4wd 4dr xlt     gas     60023        clean
2   volkswagen        golf r hatchback     gas     14048        clean
3       toyota                    rav4     gas    117291        clean
4       nissan                  altima     gas      8000        clean

  transmission                                          image_url  \
0        other  https://images.craigslist.org/00N0N_1xMPvfxRAI...
1    automatic  https://images.craigslist.org/00x0x_26jl9F0cnL...
2        other  https://images.craigslist.org/00y0y_eeZjWeiSfb...
3    automatic  https://images.craigslist.org/00606_iGe5iXidib...
4    automatic  https://images.craigslist.org/00V0V_3pSOiPZ3Sd...

                                         description state        lat  \
0  Carvana is the safer way to buy a car During t...    tn  35.060000
1  ***Call Us for more information at: 201-635-14...    nj  40.821805
2  Carvana is the safer way to buy a car During t...    ca  33.779214
3  2013 Toyota RAV4 XLE 4dr SUV     Offered by: R...    nc  35.715954
4  2021 Nissan Altima Sv with Only 8 K Miles Titl...    ny  40.654800

        long              posting_date price_category  \
0 -85.250000  2021-04-17T12:30:50-0400           high
1 -74.061962  2021-05-03T15:40:21-0400         medium
2 -84.411811  2021-04-28T03:52:20-0700           high
3 -78.655304  2021-04-17T10:08:57-0400         medium
4 -73.609700  2021-05-03T18:32:06-0400         medium

                       date
0 2021-04-17 16:30:50+00:00
1 2021-05-03 19:40:21+00:00
2 2021-04-28 10:52:20+00:00
3 2021-04-17 14:08:57+00:00
4 2021-05-03 22:32:06+00:00

In [57]:
categorical_cols = [
    'region', 
    'manufacturer', 
    'model', 
    'fuel', 
    'transmission', 
    'title_status', 
    'state', 
    'price_category'
]
for col in categorical_cols:
    df[col] = df[col].astype('category')

print(df.dtypes)

id                              int64
url                            object
region                       category
region_url                     object
price                           int64
year                          float64
manufacturer                 category
model                        category
fuel                         category
odometer                        int64
title_status                 category
transmission                 category
image_url                      object
description                    object
state                        category
lat                           float64
long                          float64
posting_date                   object
price_category               category
date              datetime64[ns, UTC]
dtype: object

In [63]:
Q1 = df['year'].quantile(0.25)
Q3 = df['year'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print(f"Нижняя граница выбросов: {lower_bound}")
print(f"Верхняя граница выбросов: {upper_bound}")

outliers = df[(df['year'] < lower_bound) | (df['year'] > upper_bound)]
print("\nВыбросы в столбце 'year':")
print(outliers['year'])

Нижняя граница выбросов: 1994.5
Верхняя граница выбросов: 2030.5

Выбросы в столбце 'year':
13      1994.0
21      1970.0
57      1948.0
66      1990.0
106     1968.0
         ...
9886    1974.0
9921    1994.0
9944    1984.0
9972    1972.0
9990    1988.0
Name: year, Length: 394, dtype: float64

In [77]:
#вывожу полностью заполненные объекты из всей выборки, а также их процент 
complete_rows_count = df.dropna().shape[0]
total = df.shape[0]
complete = (complete_rows_count / total_rows_count) * 100

print(f"Количество полностью заполненных объектов: {complete}")
print(f"Процент полностью заполненных объектов из всей выборки: {complete:.2f}%")

Количество полностью заполненных объектов: 98.59
Процент полностью заполненных объектов из всей выборки: 98.59%