# Feature Engineering. Практическая работа

Сдаётся на проверку.

## Цели практической работы

Научиться: 

*   генерировать новые признаки; 
*   нормализовать и кодировать данные с помощью lambda-функций и библиотеки scikit-learn.

## Что входит в практическую работу

1. Построить признаки из строк.
2. Преобразовать категориальные переменные.
3. Стандартизировать данные.
4. Использовать MinMaxScaler для нормализации данных.
5. Создать признаки на основе дат.
6. Сохранить датафрейм для этапа моделирования.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, соблюдены отступы и правила расстановки пробелов.
- При построении графиков название и оси подписаны, выведена легенда, если требуется. 
- Репозиторий проекта содержит осмысленные коммиты, содержащие конкретные реализованные фичи, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них тем.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему проверяющему куратору.

## Задача

Мы продолжим исследовать и готовить данные для этапа моделирования.

Вам предстоит работать с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах, представленной в файле `data/vehicles_dataset_upd.csv`. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.

В этой практической работе вы продолжите генерировать дополнительные признаки и завершите подготовку датасета для этапа моделирования.

## Описание датасета:
- `id`— идентификатор записи;
- `url`— URL-записи о продаже;
- `region`— регион;
- `region_url`— URL региона;
- `price`— стоимость;
- `year`— год выпуска;
- `manufacturer`— производитель;
- `model`— модель;
- `condition`— состояние;
- `cylinders`— количество цилиндров;
- `fuel`— тип топлива;
- `odometer`— количество пройденных миль;
- `title_status`— статус;
- `transmission`— коробка передач;
- `VIN`— идентификационный номер;
- `drive`— тип привода;
- `size`— размер;
- `type`— кузов;
- `paint_color`— цвет;
- `image_url`— URL изображения;
- `description`— указанное описание;
- `county`— страна;
- `state`— штат;
- `lat`— широта;
- `long`— долгота;
- `posting_date`— дата размещения объявления о продаже;
- `price_category`— категория цены.

In [ ]:
# Импортируйте необходимые библиотеки

### Задача 1. Построение признаков из строк

1. Загрузите датасет из `data/vehicles_dataset_upd6.csv`, выведите первые пять записей и список колонок.

In [188]:
import pandas as pd
df = pd.read_csv('data/vehicles_dataset_upd6.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,is_jeep,is_honda,is_nissan,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other,std_scaled_odometer,std_scaled_price
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0,0,0,1.0,0.0,0.0,0.0,0.0,-1.079390,2.958509
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.560115,-0.085826
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0,0,0,0.0,0.0,1.0,0.0,0.0,-1.292863,1.406256
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0,0,0,0.0,0.0,1.0,0.0,0.0,0.352621,-0.281218
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,0,0,0,0.0,0.0,0.0,0.0,1.0,-0.234311,-0.274017

2. Выведите список значений и количество уникальных значений для модели автомобиля.

In [17]:
print(df['model'].value_counts())

model
f-150                        145
other                        107
silverado 1500               105
1500                          99
camry                         76
                            ...
sierra1500 crewcab 4x4         1
corolla se                     1
xc60 t6 inscription sport      1
silverado 1500 ls              1
a3 2.0t premium plus pzev      1
Name: count, Length: 3341, dtype: int64

3. Количество уникальных значений велико. Попробуем их сократить, оставив только первое слово в наименовании модели. С помощью lambda-функции и преобразования над строками создайте новый признак `short_model`, содержащий только первое слово из наименования модели, выведите его и количество получившихся уникальных значений.

In [190]:
df['short_model'] = df['model'].apply(lambda x: str(x).split(' ')[0])
print("\nКоличество уникальных сокращенных моделей:", df['short_model'].nunique())

Количество уникальных сокращенных моделей: 943

### Задача 2. Преобразование категориальных переменных

1. Для категориальных переменных `short_model`, `transmission`, `region`, `manufacturer`, `state`, `title_status`, `age_category` распечатайте наименование категории и количество уникальных значений в ней.

In [192]:
categorical_features = [
    'short_model',
    'transmission',
    'region',
    'manufacturer',
    'state',
    'title_status',
    'age_category',
]

for feature in categorical_features:
    unique_count = df[feature].nunique()
    print(f"Категория: {feature}, количество уникальных значений: {unique_count}")

Категория: short_model, количество уникальных значений: 943
Категория: transmission, количество уникальных значений: 3
Категория: region, количество уникальных значений: 393
Категория: manufacturer, количество уникальных значений: 40
Категория: state, количество уникальных значений: 51
Категория: title_status, количество уникальных значений: 6
Категория: age_category, количество уникальных значений: 3

2. Создайте датафрейм `data`, содержащий только выбранные категориальные переменные.

In [194]:
data = df[categorical_features].copy()
print(data.head())
print(data.info())

  short_model transmission        region manufacturer state title_status  \
0        2500        other   chattanooga          ram    tn        clean
1    explorer    automatic  north jersey         ford    nj        clean
2        golf        other  reno / tahoe   volkswagen    ca        clean
3        rav4    automatic  fayetteville       toyota    nc        clean
4           1        other     knoxville          bmw    tn        clean

  age_category
0          new
1          new
2          new
3      average
4      average
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9619 entries, 0 to 9618
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   short_model   9619 non-null   object
 1   transmission  9619 non-null   object
 2   region        9619 non-null   object
 3   manufacturer  9619 non-null   object
 4   state         9619 non-null   object
 5   title_status  9619 non-null   object
 6   age_category  9619 non-null   object
dtypes: object(7)
memory usage: 526.2+ KB
None

3. Создайте объект класса OneHotEncoder, который будет отвечать за преобразование. Уточните, что на выходе должна быть неразреженная матрица.

In [196]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse_output=False)
print(f"Тип объекта encoder: {type(encoder)}")

Тип объекта encoder: <class 'sklearn.preprocessing._encoders.OneHotEncoder'>

4. Идентифицируйте параметры преобразования на датафрейме с категориальными переменными.

In [198]:
encoder.fit(data)

print("Изученные категории:\n", encoder.categories_)

Изученные категории:
 [array(['-benz', '1', '124', '128i', '135i', '1500', '163869', '1928',
       '1951', '1954', '1960s', '1966', '1968', '1972', '1977', '1978',
       '198.5', '1988', '1994', '1999', '2', '200', '2000', '2002',
       '2006', '2007', '2008', '2009', '2012', '2015', '2016', '2017',
       '2018', '210', '240', '2500', '2500hd', '280zx', '3', '3-series',
       '3-window', '3.2', '300', '300-series', '300c', '300s', '300zx',
       '3100', '318i', '320i', '323i', '325ci', '325i', '325is', '325xi',
       '328', '328ci', '328d', '328i', '328xi', '330i', '330xi', '335i',
       '335xi', '350', '3500', '3500hd', '350z', '370z', '380sl', '3i',
       '4', '4-runner', '428', '430i', '435i', '440xi', '4500', '4runner',
       '4x4', '5', '5-series', '50', '500', '500c', '500l', '500x',
       '525i', '528i', '528xi', '530', '530i', '535i', '535xi', '540i',
       '545i', '5500', '5500hd', '550i', '5th', '6', '640', '645ci',
       '650i', '650xi', '7', '750', '750i', '750xi', '86', '911', '914',
       '928', '944', 'ACURA*', 'ALL', 'AM', 'AMC', 'ASC', 'Acuarea',
       'American', 'BUY', 'Bentley', 'Blue', 'Buicks', 'C', 'CHEVORLET',
       'CLICK', 'Champion', 'Chevey', 'Chevorlet', 'Comanche', 'Comet',
       'D7FH173552', 'DODGE1500', 'Diahatsu', 'E46', 'EASY', 'Eagle',
       'Emergency', 'F-250', 'F250', 'FORD*', 'FORD/RANGER',
       'FREIGHTLINER', 'FRRV', 'Flexible', 'FordE350', 'Freightliner',
       'Frtlner', 'GCM', 'GEHL', 'GMC,', 'GMX', 'GRAND', 'GULF',
       'Genesis', 'Gx', 'HINO', 'HUMMER', 'Hino', 'Hobda', 'Hot',
       'Hummer', 'IC', 'INTERNATIONAL', 'International', 'Isizu', 'Isuzu',
       'JM1BK32F871604924', 'Janesville', 'Jauguar', 'Jayco', 'Kaiser',
       'Lotus', 'MASERATI', 'MERCUTY', 'MERDECES', 'MGB', 'MITUSBISHI',
       'MV-1', 'Maserati', 'Minin', 'Nascar', 'OLDSMOBILE', 'PLYMOUTH',
       'PROGRAMS', 'Peterbilt', 'Pierce', 'Plymouth', 'QX', 'S60',
       'SCION', 'SL', 'Saab', 'Scion', 'Sea', 'Sterling', 'Studebaker',
       'Suzuki', 'THOMAS', 'Thomas', 'Town', 'Triumph', 'Voltswagon',
       'Xx', 'a-class', 'a3', 'a3,', 'a4', 'a5', 'a6', 'a7', 'a8',
       'acadia', 'accent', 'accord', 'all', 'allante', 'allroad',
       'altima', 'am', 'amc', 'arcadia', 'armada', 'arteon', 'ascent',
       'aspen', 'astra', 'astro', 'atlas', 'ats', 'aura', 'autobiography',
       'avalanche', 'avalon', 'avanger', 'avenger', 'aveo', 'aviator',
       'azera', 'aztek', 'b-class', 'b-series', 'b2200', 'b2300',
       'b2600i', 'baja', 'beetle', 'bel', 'belair', 'benz', 'blackwood',
       'blazer', 'blue', 'bolt', 'bonanza', 'bonneville', 'boxster',
       'bronco', 'brz', 'bug', 'bus', 'c', 'c-10', 'c-7500', 'c-class',
       'c-hr', 'c-max', 'c/k', 'c10', 'c250', 'c280', 'c30', 'c300',
       'c4500', 'c5500', 'c60', 'c6500', 'c70', 'c8500', 'cabellero',
       'cabrio', 'caddilac', 'cadenza', 'caliber', 'camaro', 'camary',
       'camero', 'camry', 'canyon', 'capri', 'caprice', 'captiva',
       'caravan', 'caravan/grand', 'cargo', 'cascada', 'cavalier',
       'cayenne', 'cayman', 'cc', 'cc300', 'cc4500', 'century',
       'certified', 'challenger', 'charger', 'cherokee', 'chevelle',
       'chevorlet', 'chryler', 'chysler', 'city', 'civic', 'cj-5', 'cj2a',
       'cj5', 'cj7', 'cj8', 'cl-class', 'cla', 'cla-class', 'clarity',
       'classic', 'classuc', 'clk', 'clk-class', 'clk350', 'cls-class',
       'cls550', 'clubman', 'cmax', 'cobalt', 'colbalt', 'colorado',
       'comet', 'commander', 'compass', 'concorde', 'conquest',
       'continental', 'convertible', 'cooper', 'corolla', 'corsair',
       'corvette', 'cougar', 'country', 'countryman', 'coupe', 'cr-v',
       'crew', 'crossfire', 'crosstour', 'crosstrek', 'crown', 'cruze',
       'crv', 'crz', 'ct', 'ct4', 'ct5', 'ct6', 'cts', 'cts-v', 'cts4',
       'cube', 'cvr', 'cx-3', 'cx-5', 'cx-7', 'cx-9', 'cx7', 'cx9', 'd50',
       'dakota', 'dart', 'davidson', 'dealer*', 'defender', 'deisel',
       'deluxe', 'denali', 'deville', 'diesel', 'discovery', 'dts',
       'dump', 'duramax', 'durango', 'durangon', 'e', 'e-150', 'e-250',
       'e-350', 'e-450', 'e-class', 'e-golf', 'e-pace', 'e-series',
       'e150', 'e250', 'e320', 'e350', 'e450', 'e46', 'e500', 'echo',
       'eclipse', 'econoline', 'ecosport', 'edge', 'el', 'elantra',
       'elcamino', 'eldorado', 'element', 'enclave', 'encore', 'endeavor',
       'envision', 'envoy', 'eos', 'eqinox', 'equinox', 'es', 'es300',
       'es330', 'es350', 'escalade', 'escape', 'escape-se,', 'escort',
       'eurovan', 'evoque', 'excursion', 'expedition', 'explorer',
       'express', 'f', 'f-100', 'f-150', 'f-250', 'f-250sd', 'f-350',
       'f-350sd', 'f-450', 'f-450sd', 'f-550', 'f-650', 'f-750', 'f-pace',
       'f-type', 'f1', 'f100', 'f150', 'f250', 'f350', 'f450', 'f450sd',
       'f50', 'f550', 'f600', 'f650', 'f700', 'f750', 'falcon', 'fe',
       'fiero', 'fiesta', 'firebird', 'fit', 'five', 'fj', 'fj40',
       'fleetmaster', 'fleetwood', 'flex', 'focus', 'fords', 'forester',
       'forte', 'forte5', 'foxbody', 'freestar', 'freestyle',
       'freightliner', 'frontier', 'fusion', 'fuso', 'fx35', 'fx45', 'g',
       'g-class', 'g.', 'g20', 'g30', 'g35', 'g35x', 'g37', 'g37s',
       'g37x', 'g4500', 'g5', 'g6', 'g8', 'galant', 'genesis', 'ghia',
       'gl', 'gl-class', 'gl450', 'gla', 'gla-class', 'gladiator', 'glc',
       'glc-class', 'gle', 'gle-class', 'glk', 'glk-class', 'glk350',
       'gls', 'gmc/chev', 'gmce', 'gmt-400', 'golf', 'gr', 'grand',
       'grandville', 'grumman', 'gs', 'gs350', 'gs430', 'gt', 'gt-r',
       'gti', 'gto', 'gx', 'gx460', 'gx470', 'hardbody', 'hardtop',
       'hearse', 'hhr', 'hiace', 'high', 'highlander', 'hr-v', 'hse',
       'hummer', 'hyndai', 'i-miev', 'i3', 'i30', 'i35', 'ilx', 'impala',
       'impreza', 'insight', 'international', 'ion', 'ioniq', 'is',
       'is250', 'is300', 'isf', 'isuzu', 'jeepster', 'jetta', 'jimmy',
       'jouney', 'journey', 'juke', 'jx35', 'k10', 'k20', 'k30', 'k5',
       'k900', 'kicks', 'kodiak', 'l', 'l300', 'lacrosse', 'lancer',
       'land', 'landcruiser', 'leaf', 'legacy', 'legend', 'lemans',
       'lesabre', 'liberty', 'lifted', 'lightning', 'limousine', 'long',
       'lr2', 'lr3', 'lr4', 'ls', 'ltd', 'lucerne', 'lx', 'lx450', 'm',
       'm-class', 'm3', 'm35', 'm35s', 'm5', 'macan', 'magnum', 'malibu',
       'mallinia', 'marineer,premier', 'mariner', 'mark', 'maserati',
       'matrix', 'maxima', 'maximum', 'mazda2', 'mazda3', 'mazda5',
       'mazda6', 'mazda6i', 'md-x', 'mdx', 'mercades', 'mercedes-amg',
       'metris', 'mg', 'miata', 'milan', 'mirage', 'mkc', 'mks', 'mkt',
       'mkx', 'mkz', 'ml', 'ml350', 'ml500', 'model', 'monte', 'montero',
       'mountaineer', 'mpv', 'mr2', 'murano', 'mustang', 'mx-5',
       'nautilus', 'navigator', 'neon', 'new', 'newport', 'niro', 'nitro',
       'nova', 'nv', 'nv1500', 'nv200', 'nv2500', 'nv2500hd', 'nx',
       'nx300', 'oddyssey', 'odyssey', 'oldsmobile', 'optima', 'optimia',
       'other', 'outback', 'outlander', 'outlook', 'paceman', 'pacifica',
       'panamera', 'panel', 'park', 'passat', 'passport', 'pathfinder',
       'patriot', 'phaeton', 'pick', 'pickup', 'pilot', 'plymouth',
       'pontaic', 'prelude', 'prius', 'prizm', 'promaster', 'protege',
       'pt', 'putback', 'q3', 'q5', 'q50', 'q60', 'q7', 'q70', 'quattro',
       'quest', 'qx50', 'qx56', 'qx60', 'qx70', 'qx80', 'r-class', 'r32',
       'rabbit', 'rainier', 'ram1500', 'ram2500', 'ramcharger', 'range',
       'ranger', 'rat', 'rav', 'rav4', 'rc', 'rdx', 'reatta', 'rebel',
       'regal', 'rendezvous', 'renegade', 'replica', 'ridgeline', 'rio',
       'rivera', 'riviera', 'rl', 'rlx', 'roadmaster', 'roadster',
       'rogue', 'romeo', 'rondo', 'rouge', 'routan', 'rs', 'rsx', 'rx',
       'rx-8', 'rx300', 'rx330', 'rx350', 'rx400h', 'rx7', 'rx8', 's',
       's-10', 's-class', 's/w', 's10', 's2000', 's3', 's320', 's4',
       's40', 's430', 's5', 's500', 's6', 's60', 's7', 's70', 's8', 's90',
       'saab', 'sable', 'santa', 'sante', 'savana', 'sc', 'sc2', 'sc300',
       'school', 'scion', 'sebring', 'sedan', 'sedona', 'seirra',
       'sentra', 'sequioa', 'sequoia', 'seville', 'shelby', 'sienna',
       'sierra', 'sierra1500', 'silverado', 'sky', 'skylark', 'sl-class',
       'sl2', 'sl500', 'sl55', 'sl550', 'slc', 'sle', 'slk', 'slk-class',
       'slt', 'smart', 'solara', 'solstice', 'sonata', 'sonic', 'sonoma',
       'sorento', 'sorrento', 'soul', 'soul+', 'spark', 'spectra',
       'sport', 'sportage', 'sprinter', 'srx', 'srx-v6', 'srx4',
       'srx~awesome', 'ss', 'ssr', 'starcraft', 'step-van', 'stinger',
       'stratus', 'sts', 'studebaker', 'suburban', 'super', 'supra',
       'suv', 'suzuki', 'svx', 't', 't-350', 't-bucket', 'tacoma',
       'tahoe', 'tarsus', 'taurus', 'tc5500', 'telluride', 'tercel',
       'terrain', 'thing', 'thomas', 'thrift', 'thunderbird', 'tiguan',
       'titan', 'tl', 'tlx', 'torrent', 'touareg', 'town', 'tracker',
       'tractor', 'trailblazer', 'trans', 'transit', 'traverse', 'trax',
       'tribeca', 'tribute', 'triumph', 'truck', 'tsx', 'tt', 'tucson',
       'tudor', 'tundra', 'uplander', 'utility', 'ux', 'v50', 'v6', 'v60',
       'v90', 'van', 'vanagon', 'vandura', 'velar', 'veloster', 'venture',
       'venza', 'veracruz', 'verano', 'versa', 'vibe', 'villager', 'vnl',
       'volt', 'voyager', 'vtx1300c', 'vue', 'w350', 'willys', 'windstar',
       'wrangler', 'wrx', 'x-3', 'x-type', 'x1', 'x2', 'x3', 'x4', 'x5',
       'x6', 'xc', 'xc40', 'xc60', 'xc70', 'xc90', 'xe', 'xf', 'xj',
       'xj-series', 'xj8', 'xk8', 'xt4', 'xt5', 'xt6', 'xterra', 'xts',
       'xv', 'yaris', 'yukon', 'z', 'z3', 'z4', 'zephyr', 'zx2'],
      dtype=object), array(['automatic', 'manual', 'other'], dtype=object), array(['SF bay area', 'abilene', 'akron / canton', 'albany',
       'albuquerque', 'altoona-johnstown', 'amarillo', 'ames',
       'anchorage / mat-su', 'ann arbor', 'annapolis',
       'appleton-oshkosh-FDL', 'asheville', 'ashtabula', 'athens',
       'atlanta', 'auburn', 'augusta', 'austin', 'bakersfield',
       'baltimore', 'baton rouge', 'battle creek',
       'beaumont / port arthur', 'bellingham', 'bemidji', 'bend',
       'billings', 'binghamton', 'birmingham', 'bismarck', 'bloomington',
       'bloomington-normal', 'boise', 'boone', 'boston', 'boulder',
       'bowling green', 'bozeman', 'brainerd', 'brownsville', 'brunswick',
       'buffalo', 'butte', 'cape cod / islands', 'catskills',
       'cedar rapids', 'central NJ', 'central louisiana',
       'central michigan', 'champaign urbana', 'charleston', 'charlotte',
       'charlottesville', 'chattanooga', 'chautauqua', 'chicago', 'chico',
       'chillicothe', 'cincinnati', 'clarksville', 'cleveland',
       'clovis / portales', 'college station', 'colorado springs',
       'columbia', 'columbia / jeff city', 'columbus', 'corpus christi',
       'corvallis/albany', 'cumberland valley', 'dallas / fort worth',
       'danville', 'dayton / springfield', 'daytona beach', 'decatur',
       'del rio / eagle pass', 'delaware', 'denver', 'des moines',
       'detroit metro', 'dothan', 'dubuque', 'duluth / superior',
       'east idaho', 'east oregon', 'eastern CO', 'eastern CT',
       'eastern NC', 'eastern kentucky', 'eastern montana',
       'eastern panhandle', 'eastern shore', 'eau claire', 'el paso',
       'elko', 'elmira-corning', 'erie', 'eugene', 'evansville',
       'fairbanks', 'fargo / moorhead', 'farmington', 'fayetteville',
       'finger lakes', 'flagstaff / sedona', 'flint', 'florence',
       'florence / muscle shoals', 'florida keys',
       'fort collins / north CO', 'fort dodge', 'fort smith',
       'fort wayne', 'frederick', 'fredericksburg', 'fresno / madera',
       'ft myers / SW florida', 'gadsden-anniston', 'gainesville',
       'galveston', 'glens falls', 'gold country', 'grand forks',
       'grand island', 'grand rapids', 'great falls', 'green bay',
       'greensboro', 'greenville / upstate', 'gulfport / biloxi',
       'hanford-corcoran', 'harrisburg', 'harrisonburg', 'hartford',
       'hattiesburg', 'hawaii', 'heartland florida', 'helena',
       'hickory / lenoir', 'high rockies', 'hilton head', 'holland',
       'houma', 'houston', 'hudson valley', 'humboldt county',
       'huntington-ashland', 'huntsville / decatur', 'imperial county',
       'indianapolis', 'inland empire', 'iowa city', 'ithaca', 'jackson',
       'jacksonville', 'janesville', 'jersey shore', 'jonesboro',
       'joplin', 'kalamazoo', 'kalispell', 'kansas city, MO',
       'kenai peninsula', 'kennewick-pasco-richland', 'kenosha-racine',
       'killeen / temple / ft hood', 'kirksville', 'klamath falls',
       'knoxville', 'kokomo', 'la crosse', 'la salle co', 'lafayette',
       'lafayette / west lafayette', 'lake charles', 'lake of the ozarks',
       'lakeland', 'lancaster', 'lansing', 'laredo', 'las cruces',
       'las vegas', 'lawrence', 'lawton', 'lehigh valley',
       'lewiston / clarkston', 'lexington', 'lima / findlay', 'lincoln',
       'little rock', 'logan', 'long island', 'los angeles', 'louisville',
       'lubbock', 'lynchburg', 'macon / warner robins', 'madison',
       'maine', 'manhattan', 'mankato', 'mansfield', 'mason city',
       'mattoon-charleston', 'mcallen / edinburg', 'meadville',
       'medford-ashland', 'memphis', 'mendocino county', 'merced',
       'milwaukee', 'minneapolis / st paul', 'missoula', 'mobile',
       'modesto', 'mohave county', 'monroe', 'monterey bay', 'montgomery',
       'morgantown', 'moses lake', 'muncie / anderson', 'muskegon',
       'myrtle beach', 'nashville', 'new hampshire', 'new haven',
       'new orleans', 'new river valley', 'new york city',
       'norfolk / hampton roads', 'north central FL', 'north dakota',
       'north jersey', 'north mississippi', 'north platte',
       'northeast SD', 'northern WI', 'northern michigan',
       'northern panhandle', 'northwest CT', 'northwest GA',
       'northwest KS', 'northwest OK', 'ocala', 'odessa / midland',
       'ogden-clearfield', 'okaloosa / walton', 'oklahoma city',
       'olympic peninsula', 'omaha / council bluffs', 'oneonta',
       'orange county', 'oregon coast', 'orlando', 'outer banks',
       'owensboro', 'palm springs', 'panama city', 'parkersburg-marietta',
       'pensacola', 'peoria', 'philadelphia', 'phoenix',
       'pierre / central SD', 'pittsburgh', 'plattsburgh-adirondacks',
       'poconos', 'port huron', 'portland', 'potsdam-canton-massena',
       'prescott', 'pueblo', 'pullman / moscow', 'quad cities, IA/IL',
       'raleigh / durham / CH', 'rapid city / west SD', 'reading',
       'redding', 'reno / tahoe', 'rhode island', 'richmond', 'roanoke',
       'rochester', 'rockford', 'roseburg', 'roswell / carlsbad',
       'sacramento', 'saginaw-midland-baycity', 'salem', 'salina',
       'salt lake city', 'san angelo', 'san antonio', 'san diego',
       'san luis obispo', 'san marcos', 'sandusky', 'santa barbara',
       'santa fe / taos', 'santa maria', 'sarasota-bradenton',
       'savannah / hinesville', 'scottsbluff / panhandle',
       'scranton / wilkes-barre', 'seattle-tacoma', 'sheboygan',
       'show low', 'shreveport', 'sierra vista', 'sioux city',
       'sioux falls / SE SD', 'siskiyou county', 'skagit / island / SJI',
       'south bend / michiana', 'south coast', 'south dakota',
       'south florida', 'south jersey', 'southeast IA',
       'southeast alaska', 'southeast missouri', 'southern WV',
       'southern illinois', 'southern maryland', 'southwest KS',
       'southwest MN', 'southwest MS', 'southwest VA',
       'southwest michigan', 'space coast', "spokane / coeur d'alene",
       'springfield', 'st augustine', 'st cloud', 'st george',
       'st joseph', 'st louis, MO', 'state college', 'statesboro',
       'stillwater', 'stockton', 'susanville', 'syracuse', 'tallahassee',
       'tampa bay area', 'terre haute', 'texarkana', 'texoma',
       'the thumb', 'toledo', 'topeka', 'treasure coast', 'tri-cities',
       'tucson', 'tulsa', 'tuscaloosa', 'tuscarawas co', 'twin falls',
       'twin tiers NY/PA', 'tyler / east TX', 'upper peninsula',
       'utica-rome-oneida', 'valdosta', 'ventura county', 'vermont',
       'victoria', 'visalia-tulare', 'waco', 'washington, DC',
       'waterloo / cedar falls', 'watertown', 'wausau', 'wenatchee',
       'western KY', 'western maryland', 'western massachusetts',
       'western slope', 'wichita', 'wichita falls', 'williamsport',
       'wilmington', 'winchester', 'winston-salem',
       'worcester / central MA', 'wyoming', 'yakima', 'york',
       'youngstown', 'yuba-sutter', 'yuma', 'zanesville / cambridge'],
      dtype=object), array(['acura', 'alfa-romeo', 'audi', 'bmw', 'buick', 'cadillac',
       'chevrolet', 'chrysler', 'datsun', 'dodge', 'ferrari', 'fiat',
       'ford', 'gmc', 'harley-davidson', 'honda', 'hyundai', 'infiniti',
       'jaguar', 'jeep', 'kia', 'lexus', 'lincoln', 'mazda',
       'mercedes-benz', 'mercury', 'mini', 'mitsubishi', 'nissan',
       'other', 'pontiac', 'porsche', 'ram', 'rover', 'saturn', 'subaru',
       'tesla', 'toyota', 'volkswagen', 'volvo'], dtype=object), array(['ak', 'al', 'ar', 'az', 'ca', 'co', 'ct', 'dc', 'de', 'fl', 'ga',
       'hi', 'ia', 'id', 'il', 'in', 'ks', 'ky', 'la', 'ma', 'md', 'me',
       'mi', 'mn', 'mo', 'ms', 'mt', 'nc', 'nd', 'ne', 'nh', 'nj', 'nm',
       'nv', 'ny', 'oh', 'ok', 'or', 'pa', 'ri', 'sc', 'sd', 'tn', 'tx',
       'ut', 'va', 'vt', 'wa', 'wi', 'wv', 'wy'], dtype=object), array(['clean', 'lien', 'missing', 'parts only', 'rebuilt', 'salvage'],
      dtype=object), array(['average', 'new', 'old'], dtype=object)]

5. Примените преобразование для датафрейма с категориальными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [200]:
data_encoded = encoder.transform(data)
print("Преобразованная матрица:\n", data_encoded)
print("Размерность матрицы:", data_encoded.shape)

Преобразованная матрица:
 [[0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]]
Размерность матрицы: (9619, 1439)

6. Выведите новые наименования признаков с помощью метода `get_feature_names_out`.

In [202]:
feature_names = encoder.get_feature_names_out(input_features=categorical_features)

print("Наименования новых признаков:\n", feature_names)

Наименования новых признаков:
 ['short_model_-benz' 'short_model_1' 'short_model_124' ...
 'age_category_average' 'age_category_new' 'age_category_old']

7. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [204]:
encoded_df = pd.DataFrame(data_encoded, columns=feature_names)
df = pd.concat([df.reset_index(drop=True), encoded_df.reset_index(drop=True)], axis=1)
print("Первые 5 строк объединенного DataFrame:")
print(df.head())
print("\nСписок колонок:")
print(df.columns.tolist())

Первые 5 строк объединенного DataFrame:
           id                                                url  \
0  7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1  7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2  7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3  7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4  7303797340  https://knoxville.craigslist.org/ctd/d/knoxvil...

         region                           region_url  price  year  \
0   chattanooga   https://chattanooga.craigslist.org  54990  2020
1  north jersey     https://newjersey.craigslist.org  16942  2016
2  reno / tahoe          https://reno.craigslist.org  35590  2017
3  fayetteville  https://fayetteville.craigslist.org  14500  2013
4     knoxville     https://knoxville.craigslist.org  14590  2012

  manufacturer                   model    fuel  odometer  ... state_wy  \
0          ram  2500 crew cab big horn  diesel     27442  ...      0.0
1         ford    explorer 4wd 4dr xlt   other     60023  ...      0.0
2   volkswagen        golf r hatchback     gas     14048  ...      0.0
3       toyota                    rav4     gas    117291  ...      0.0
4          bmw  1 series 128i coupe 2d   other     80465  ...      0.0

  title_status_clean title_status_lien title_status_missing  \
0                1.0               0.0                  0.0
1                1.0               0.0                  0.0
2                1.0               0.0                  0.0
3                1.0               0.0                  0.0
4                1.0               0.0                  0.0

  title_status_parts only  title_status_rebuilt  title_status_salvage  \
0                     0.0                   0.0                   0.0
1                     0.0                   0.0                   0.0
2                     0.0                   0.0                   0.0
3                     0.0                   0.0                   0.0
4                     0.0                   0.0                   0.0

  age_category_average age_category_new age_category_old
0                  0.0              1.0              0.0
1                  0.0              1.0              0.0
2                  0.0              1.0              0.0
3                  1.0              0.0              0.0
4                  1.0              0.0              0.0

[5 rows x 1485 columns]

Список колонок:

8. Посмотрите на результат обратного преобразования получившейся матрицы в исходные признаки, используйте `inverse_transform`.

In [206]:
data_inverse = encoder.inverse_transform(data_encoded)
print("Результат обратного преобразования:\n", data_inverse)

df_inverse = pd.DataFrame(data_inverse, columns=categorical_features)
print("\nРезультат обратного преобразования в DataFrame:\n", df_inverse)

Результат обратного преобразования:
 [['2500' 'other' 'chattanooga' ... 'tn' 'clean' 'new']
 ['explorer' 'automatic' 'north jersey' ... 'nj' 'clean' 'new']
 ['golf' 'other' 'reno / tahoe' ... 'ca' 'clean' 'new']
 ...
 ['a3' 'automatic' 'salem' ... 'or' 'clean' 'average']
 ['cayenne' 'automatic' 'madison' ... 'wi' 'clean' 'new']
 ['1500' 'other' 'norfolk / hampton roads' ... 'va' 'clean' 'new']]

Результат обратного преобразования в DataFrame:
      short_model transmission                   region manufacturer state  \
0           2500        other              chattanooga          ram    tn
1       explorer    automatic             north jersey         ford    nj
2           golf        other             reno / tahoe   volkswagen    ca
3           rav4    automatic             fayetteville       toyota    nc
4              1        other                knoxville          bmw    tn
...          ...          ...                      ...          ...   ...
9614        rav4    automatic               chautauqua       toyota    ny
9615    wrangler        other               binghamton         jeep    ny
9616          a3    automatic                    salem         audi    or
9617     cayenne    automatic                  madison      porsche    wi
9618        1500        other  norfolk / hampton roads          ram    va

     title_status age_category
0           clean          new
1           clean          new
2           clean          new
3           clean      average
4           clean      average
...           ...          ...
9614        clean          old
9615        clean      average
9616        clean      average
9617        clean          new
9618        clean          new

[9619 rows x 7 columns]

### Задача 3. Стандартизация данных

1. Создайте переменную под количественные переменные `lat`, `long`, `year`, `odometer/price`, `desc_len`, `model_in_desc`, `model_len`, `model_word_count` и создайте датафрейм `data`, содержащий только выбранные количественные переменные.

In [208]:
df['odometer/price'] = df['odometer'] / df['price']
df['desc_len'] = df['description'].str.len()
df['model_in_desc'] = df.apply(lambda row: 1 if row['model'].lower() in row['description'].lower() else 0, axis=1)
df['model_len'] = df['model'].str.len()
df['model_word_count'] = df['model'].str.split().str.len()
quantitative_features = ['lat', 'long', 'year', 'odometer/price', 'desc_len', 'model_in_desc', 'model_len', 'model_word_count']
data = df[quantitative_features].copy()
print(data.head())

         lat       long  year  odometer/price  desc_len  model_in_desc  \
0  35.060000 -85.250000  2020        0.499036      4482              0
1  40.821805 -74.061962  2016        3.542852       968              0
2  33.779214 -84.411811  2017        0.394718      4286              0
3  35.715954 -78.655304  2013        8.089034      3241              1
4  35.970000 -83.940000  2012        5.515079      4851              0

   model_len  model_word_count
0         22                 5
1         20                 4
2         16                 3
3          4                 1
4         22                 5

2. Создайте объект `std_scaler` класса StandardScaler с параметрами по умолчанию, который будет отвечать за стандартизацию.

In [217]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

3. Идентифицируйте параметры преобразования на датафрейме с количественными переменными.

In [212]:
scaled_data = std_scaler.fit_transform(data)
means = std_scaler.mean_
stds = std_scaler.scale_
print("Средние значения (means):")
print(means)
print("\nСтандартные отклонения (stds):")
print(stds)

Средние значения (means):
[ 3.86020949e+01 -9.38968752e+01  2.01155588e+03  1.49164223e+01
  2.74520511e+03  5.91537582e-01  1.19280590e+01  2.16872856e+00]

Стандартные отклонения (stds):
[5.72069171e+00 1.78564235e+01 6.38548159e+00 2.82259761e+01
 2.74776799e+03 4.91549459e-01 8.66006927e+00 1.48153389e+00]

4. Примените преобразование для датафрейма с количественными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [215]:
scaled_data_df = pd.DataFrame(scaled_data, columns=data.columns)
print("\nПервые строки DataFrame с преобразованными данными:")
print(scaled_data_df.head())

Первые строки DataFrame с преобразованными данными:
        lat      long      year  odometer/price  desc_len  model_in_desc  \
0 -0.619172  0.484245  1.322394       -0.510784  0.632075      -1.203414
1  0.388014  1.110800  0.695973       -0.402947 -0.646781      -1.203414
2 -0.843059  0.531185  0.852578       -0.514480  0.560744      -1.203414
3 -0.504509  0.853562  0.226157       -0.241883  0.180435       0.830969
4 -0.460101  0.557607  0.069552       -0.333074  0.766366      -1.203414

   model_len  model_word_count
0   1.163032          1.911041
1   0.932087          1.236064
2   0.470197          0.561088
3  -0.915473         -0.788864
4   1.163032          1.911041

5. Создайте наименования новых признаков по шаблону: `lat_std` для `lat` и так далее.

In [219]:
new_feature_names = [f'{col}_std' for col in data.columns]
print("Список новых наименований признаков:")
print(new_feature_names)

Список новых наименований признаков:
['lat_std', 'long_std', 'year_std', 'odometer/price_std', 'desc_len_std', 'model_in_desc_std', 'model_len_std', 'model_word_count_std']

6. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [221]:
new_features = data.copy()
new_features.columns = new_feature_names

data = pd.concat([data, new_features], axis=1)
print("\nСписок колонок DataFrame:")
print(data.columns.tolist())

Список колонок DataFrame:
['lat', 'long', 'year', 'odometer/price', 'desc_len', 'model_in_desc', 'model_len', 'model_word_count', 'lat_std', 'long_std', 'year_std', 'odometer/price_std', 'desc_len_std', 'model_in_desc_std', 'model_len_std', 'model_word_count_std']

### Задача 4. MinMax-нормализация данных

1. Импортируйте MinMaxScaler из `sklearn.preprocessing`.

In [223]:
from sklearn.preprocessing import MinMaxScaler

2. Создайте датафрейм, содержащий переменные `lat` и `long`.

In [225]:
selected_columns = ['lat', 'long']
lat_long_df = df[selected_columns].copy()
print("\nСписок колонок нового DataFrame:")
print(lat_long_df.columns.tolist())

Список колонок нового DataFrame:
['lat', 'long']

3. Повторите действия пунктов 2–6 из задачи 3 для добавления в исходный датафрейм признаков `lat_mm` и `long_mm`. Выведите получившийся датафрейм.

In [227]:
from sklearn.preprocessing import MinMaxScaler
lat_long_df = df[['lat', 'long']].copy()
mm_scaler = MinMaxScaler()
lat_long_scaled = mm_scaler.fit_transform(lat_long_df)
lat_long_scaled_df = pd.DataFrame(lat_long_scaled, columns=['lat_mm', 'long_mm'])
df = pd.concat([df, lat_long_scaled_df], axis=1)
print("DataFrame с новыми признаками:")
print(df)

DataFrame с новыми признаками:
              id                                                url  \
0     7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1     7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2     7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3     7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4     7303797340  https://knoxville.craigslist.org/ctd/d/knoxvil...
...          ...                                                ...
9614  7304876387  https://chautauqua.craigslist.org/ctd/d/falcon...
9615  7316152972  https://binghamton.craigslist.org/ctd/d/roches...
9616  7310993818  https://salem.craigslist.org/ctd/d/salem-2011-...
9617  7306637427  https://madison.craigslist.org/ctd/d/madison-2...
9618  7311960763  https://norfolk.craigslist.org/ctd/d/chesapeak...

                       region                           region_url  price  \
0                 chattanooga   https://chattanooga.craigslist.org  54990
1                north jersey     https://newjersey.craigslist.org  16942
2                reno / tahoe          https://reno.craigslist.org  35590
3                fayetteville  https://fayetteville.craigslist.org  14500
4                   knoxville     https://knoxville.craigslist.org  14590
...                       ...                                  ...    ...
9614               chautauqua    https://chautauqua.craigslist.org   4495
9615               binghamton    https://binghamton.craigslist.org  14495
9616                    salem         https://salem.craigslist.org   8995
9617                  madison       https://madison.craigslist.org  31900
9618  norfolk / hampton roads       https://norfolk.craigslist.org  31990

      year manufacturer                      model    fuel  odometer  ...  \
0     2020          ram     2500 crew cab big horn  diesel     27442  ...
1     2016         ford       explorer 4wd 4dr xlt   other     60023  ...
2     2017   volkswagen           golf r hatchback     gas     14048  ...
3     2013       toyota                       rav4     gas    117291  ...
4     2012          bmw     1 series 128i coupe 2d   other     80465  ...
...    ...          ...                        ...     ...       ...  ...
9614  2002       toyota                       rav4     gas    150000  ...
9615  2008         jeep                   wrangler     gas    113573  ...
9616  2011         audi  a3 2.0t premium plus pzev     gas    150184  ...
9617  2015      porsche                    cayenne  hybrid     61943  ...
9618  2017          ram     1500 crew cab big horn     gas     35921  ...

     title_status_lien title_status_missing title_status_parts only  \
0                  0.0                  0.0                     0.0
1                  0.0                  0.0                     0.0
2                  0.0                  0.0                     0.0
3                  0.0                  0.0                     0.0
4                  0.0                  0.0                     0.0
...                ...                  ...                     ...
9614               0.0                  0.0                     0.0
9615               0.0                  0.0                     0.0
9616               0.0                  0.0                     0.0
9617               0.0                  0.0                     0.0
9618               0.0                  0.0                     0.0

     title_status_rebuilt title_status_salvage  age_category_average  \
0                     0.0                  0.0                   0.0
1                     0.0                  0.0                   0.0
2                     0.0                  0.0                   0.0
3                     0.0                  0.0                   1.0
4                     0.0                  0.0                   1.0
...                   ...                  ...                   ...
9614                  0.0                  0.0                   0.0
9615                  0.0                  0.0                   1.0
9616                  0.0                  0.0                   1.0
9617                  0.0                  0.0                   0.0
9618                  0.0                  0.0                   0.0

      age_category_new age_category_old    lat_mm   long_mm
0                  1.0              0.0  0.341769  0.288699
1                  1.0              0.0  0.468665  0.333055
2                  1.0              0.0  0.313561  0.292022
3                  0.0              0.0  0.356215  0.314844
4                  0.0              0.0  0.361810  0.293893
...                ...              ...       ...       ...
9614               0.0              1.0  0.497341  0.312727
9615               0.0              0.0  0.521415  0.318411
9616               0.0              0.0  0.559052  0.139104
9617               1.0              0.0  0.517287  0.272255
9618               1.0              0.0  0.377227  0.324182

[9619 rows x 1487 columns]

4. Создайте переменную под географические признаки `lat`, `lat_std`, `lat_mm`, `long`, `long_std`, `long_mm` и выведите их. Посмотрите на различия в значениях для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [229]:
lat_long_df = df[['lat', 'long']].copy()
mm_scaler = MinMaxScaler()
lat_long_scaled = mm_scaler.fit_transform(lat_long_df)
lat_long_scaled_df = pd.DataFrame(lat_long_scaled, columns=['lat_mm', 'long_mm'])
df = pd.concat([df, lat_long_scaled_df], axis=1)

std_scaler = StandardScaler()
scaled_data = std_scaler.fit_transform(df[['lat', 'long']])
scaled_data_df = pd.DataFrame(scaled_data, columns=['lat_std', 'long_std'])
df = pd.concat([df, scaled_data_df], axis=1)

geo_features = ['lat', 'lat_std', 'lat_mm', 'long', 'long_std', 'long_mm']

print("Географические признаки:\n")
print(df[geo_features].head())

print("\nОписательная статистика:")
print(df[geo_features].describe())

Географические признаки:

         lat   lat_std    lat_mm    lat_mm       long  long_std   long_mm  \
0  35.060000 -0.619172  0.341769  0.341769 -85.250000  0.484245  0.288699
1  40.821805  0.388014  0.468665  0.468665 -74.061962  1.110800  0.333055
2  33.779214 -0.843059  0.313561  0.313561 -84.411811  0.531185  0.292022
3  35.715954 -0.504509  0.356215  0.356215 -78.655304  0.853562  0.314844
4  35.970000 -0.460101  0.361810  0.361810 -83.940000  0.557607  0.293893

    long_mm
0  0.288699
1  0.333055
2  0.292022
3  0.314844
4  0.293893

Описательная статистика:
               lat       lat_std       lat_mm       lat_mm         long  \
count  9619.000000  9.619000e+03  9619.000000  9619.000000  9619.000000
mean     38.602095  2.105257e-16     0.419779     0.419779   -93.896875
std       5.720989  1.000052e+00     0.125997     0.125997    17.857352
min      19.541726 -3.331829e+00     0.000000     0.000000  -158.069300
25%      34.920000 -6.436450e-01     0.338685     0.338685  -106.944340
50%      39.300000  1.219966e-01     0.435149     0.435149   -87.845800
75%      42.382100  6.607601e-01     0.503028     0.503028   -80.678711
max      64.947500  4.605283e+00     1.000000     1.000000    94.163200

           long_std      long_mm      long_mm
count  9.619000e+03  9619.000000  9619.000000
mean  -4.498602e-16     0.254418     0.254418
std    1.000052e+00     0.070797     0.070797
min   -3.593801e+00     0.000000     0.000000
25%   -7.306875e-01     0.202690     0.202690
50%    3.388739e-01     0.278408     0.278408
75%    7.402470e-01     0.306822     0.306822
max    1.053179e+01     1.000000     1.000000

5. Выведите описательные статистики для всех географических признаков. Посмотрите на различия в статистиках для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [231]:
geo_features = ['lat', 'lat_std', 'lat_mm', 'long', 'long_std', 'long_mm']
print("Описательная статистика для географических признаков:\n")
print(df[geo_features].describe())

Описательная статистика для географических признаков:

               lat       lat_std       lat_mm       lat_mm         long  \
count  9619.000000  9.619000e+03  9619.000000  9619.000000  9619.000000
mean     38.602095  2.105257e-16     0.419779     0.419779   -93.896875
std       5.720989  1.000052e+00     0.125997     0.125997    17.857352
min      19.541726 -3.331829e+00     0.000000     0.000000  -158.069300
25%      34.920000 -6.436450e-01     0.338685     0.338685  -106.944340
50%      39.300000  1.219966e-01     0.435149     0.435149   -87.845800
75%      42.382100  6.607601e-01     0.503028     0.503028   -80.678711
max      64.947500  4.605283e+00     1.000000     1.000000    94.163200

           long_std      long_mm      long_mm
count  9.619000e+03  9619.000000  9619.000000
mean  -4.498602e-16     0.254418     0.254418
std    1.000052e+00     0.070797     0.070797
min   -3.593801e+00     0.000000     0.000000
25%   -7.306875e-01     0.202690     0.202690
50%    3.388739e-01     0.278408     0.278408
75%    7.402470e-01     0.306822     0.306822
max    1.053179e+01     1.000000     1.000000

6. Выведите матрицу корреляций для всех географических признаков, чтобы убедиться, что нормализация признаков сохранила свойства исходных признаков.

In [233]:
print("Матрица корреляций для географических признаков:\n")
print(df[geo_features].corr())

Матрица корреляций для географических признаков:

               lat   lat_std    lat_mm    lat_mm      long  long_std  \
lat       1.000000  1.000000  1.000000  1.000000 -0.134596 -0.134596
lat_std   1.000000  1.000000  1.000000  1.000000 -0.134596 -0.134596
lat_mm    1.000000  1.000000  1.000000  1.000000 -0.134596 -0.134596
lat_mm    1.000000  1.000000  1.000000  1.000000 -0.134596 -0.134596
long     -0.134596 -0.134596 -0.134596 -0.134596  1.000000  1.000000
long_std -0.134596 -0.134596 -0.134596 -0.134596  1.000000  1.000000
long_mm  -0.134596 -0.134596 -0.134596 -0.134596  1.000000  1.000000
long_mm  -0.134596 -0.134596 -0.134596 -0.134596  1.000000  1.000000

           long_mm   long_mm
lat      -0.134596 -0.134596
lat_std  -0.134596 -0.134596
lat_mm   -0.134596 -0.134596
lat_mm   -0.134596 -0.134596
long      1.000000  1.000000
long_std  1.000000  1.000000
long_mm   1.000000  1.000000
long_mm   1.000000  1.000000

### Задача 5. Признаки на основе дат

1. Выведите по отдельности колонки `posting_date` и `date`.

In [235]:
selected_columns = ['posting_date', 'date']
lat_long_df = df[selected_columns].copy()
print("\nСписок колонок нового DataFrame:")
print(lat_long_df.columns.tolist())

Список колонок нового DataFrame:
['posting_date', 'date']

2. Ранее преобразованная колонка `date` после сохранения в файл и загрузки из него содержит данные в строковом формате, поэтому измените её тип c помощью `pd.to_datetime`.

In [237]:
df['date'] = pd.to_datetime(df['date'])
print("\nКолонка date (после преобразования):\n")
print(df['date'])
print(f'\nТип данных date после преобразования: {df["date"].dtype}\n')

Колонка date (после преобразования):

0      2021-04-17 16:30:50+00:00
1      2021-05-03 19:40:21+00:00
2      2021-04-28 10:52:20+00:00
3      2021-04-17 14:08:57+00:00
4      2021-04-08 19:10:56+00:00
                  ...
9614   2021-04-10 20:33:57+00:00
9615   2021-05-03 13:36:30+00:00
9616   2021-04-22 19:14:01+00:00
9617   2021-04-14 14:14:42+00:00
9618   2021-04-24 17:50:49+00:00
Name: date, Length: 9619, dtype: datetime64[ns, UTC]

Тип данных date после преобразования: datetime64[ns, UTC]

3. Несколькими способами извлеките номер месяца продажи автомобиля.

3.1. Из переменной `posting_date` с помощью lambda-функции и операций над строками.

In [239]:
df['month_lambda'] = df['posting_date'].apply(lambda x: int(x.split('-')[1]))
df['month_lambda']

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month_lambda, Length: 9619, dtype: int64

3.2. Из переменной `date` с помощью lambda-функции и метода `month`.

In [241]:
df['month_lambda_dt'] = df['date'].apply(lambda x: x.month if pd.notnull(x) else None)
print(df['month_lambda_dt'])

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month_lambda_dt, Length: 9619, dtype: int64

3.3. Из переменной `date` с помощью `dt` и метода `month`.

In [243]:
df['month_dt'] = df['date'].dt.month
print(df['month_dt'])

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month_dt, Length: 9619, dtype: int32

4. Создайте любым из способов (3.2 или 3.3) признак `month`, обозначающий номер месяца размещения объявления о продаже автомобиля, и распечатайте его.

In [245]:
df['date'] = pd.to_datetime(df['posting_date'], errors='coerce')
df['month'] = df['date'].apply(lambda x: x.month if pd.notnull(x) else None)
print("\nПризнак 'month':")
print(df['month'])

Признак 'month':
0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month, Length: 9619, dtype: int64

C:\Users\Exkeil\AppData\Local\Temp\ipykernel_4768\2799392459.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['posting_date'], errors='coerce')

5. Создайте признак `dayofweek`, обозначающий день недели размещения объявления о продаже автомобиля, и распечатайте его.

In [247]:
df['date'] = pd.to_datetime(df['posting_date'], errors='coerce')
df['dayofweek'] = df['date'].apply(lambda x: x.dayofweek if pd.notnull(x) else None)

print("\nПризнак 'dayofweek':")
print(df['dayofweek'])

Признак 'dayofweek':
0       5
1       0
2       2
3       5
4       3
       ..
9614    5
9615    0
9616    3
9617    2
9618    5
Name: dayofweek, Length: 9619, dtype: int64

C:\Users\Exkeil\AppData\Local\Temp\ipykernel_4768\1471844700.py:1: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['date'] = pd.to_datetime(df['posting_date'], errors='coerce')

6. Создайте признак `diff_years`, обозначающий количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля, и распечатайте его. Дополнительные корректировки не применяйте.

In [251]:
df['date'] = pd.to_datetime(df['posting_date'], errors='coerce', utc=True)
df['diff_years'] = df.apply(lambda row: (row['date'].year - row['year']) if (pd.notnull(row['date']) and pd.notnull(row['year'])) else None, axis=1)
print(df)
print("\nПризнак 'diff_years':")
print(df['diff_years'])

              id                                                url  \
0     7308295377  https://chattanooga.craigslist.org/ctd/d/chatt...
1     7316380095  https://newjersey.craigslist.org/ctd/d/carlsta...
2     7313733749  https://reno.craigslist.org/ctd/d/atlanta-2017...
3     7308210929  https://fayetteville.craigslist.org/ctd/d/rale...
4     7303797340  https://knoxville.craigslist.org/ctd/d/knoxvil...
...          ...                                                ...
9614  7304876387  https://chautauqua.craigslist.org/ctd/d/falcon...
9615  7316152972  https://binghamton.craigslist.org/ctd/d/roches...
9616  7310993818  https://salem.craigslist.org/ctd/d/salem-2011-...
9617  7306637427  https://madison.craigslist.org/ctd/d/madison-2...
9618  7311960763  https://norfolk.craigslist.org/ctd/d/chesapeak...

                       region                           region_url  price  \
0                 chattanooga   https://chattanooga.craigslist.org  54990
1                north jersey     https://newjersey.craigslist.org  16942
2                reno / tahoe          https://reno.craigslist.org  35590
3                fayetteville  https://fayetteville.craigslist.org  14500
4                   knoxville     https://knoxville.craigslist.org  14590
...                       ...                                  ...    ...
9614               chautauqua    https://chautauqua.craigslist.org   4495
9615               binghamton    https://binghamton.craigslist.org  14495
9616                    salem         https://salem.craigslist.org   8995
9617                  madison       https://madison.craigslist.org  31900
9618  norfolk / hampton roads       https://norfolk.craigslist.org  31990

      year manufacturer                      model    fuel  odometer  ...  \
0     2020          ram     2500 crew cab big horn  diesel     27442  ...
1     2016         ford       explorer 4wd 4dr xlt   other     60023  ...
2     2017   volkswagen           golf r hatchback     gas     14048  ...
3     2013       toyota                       rav4     gas    117291  ...
4     2012          bmw     1 series 128i coupe 2d   other     80465  ...
...    ...          ...                        ...     ...       ...  ...
9614  2002       toyota                       rav4     gas    150000  ...
9615  2008         jeep                   wrangler     gas    113573  ...
9616  2011         audi  a3 2.0t premium plus pzev     gas    150184  ...
9617  2015      porsche                    cayenne  hybrid     61943  ...
9618  2017          ram     1500 crew cab big horn     gas     35921  ...

        lat_mm   long_mm   lat_std  long_std month_lambda  month_lambda_dt  \
0     0.341769  0.288699 -0.619172  0.484245            4                4
1     0.468665  0.333055  0.388014  1.110800            5                5
2     0.313561  0.292022 -0.843059  0.531185            4                4
3     0.356215  0.314844 -0.504509  0.853562            4                4
4     0.361810  0.293893 -0.460101  0.557607            4                4
...        ...       ...       ...       ...          ...              ...
9614  0.497341  0.312727  0.615626  0.823646            4                4
9615  0.521415  0.318411  0.806702  0.903947            5                5
9616  0.559052  0.139104  1.105428 -1.628875            4                4
9617  0.517287  0.272255  0.773939  0.251959            4                4
9618  0.377227  0.324182 -0.337738  0.985465            4                4

      month_dt month dayofweek diff_years
0            4     4         5          1
1            5     5         0          5
2            4     4         2          4
3            4     4         5          8
4            4     4         3          9
...        ...   ...       ...        ...
9614         4     4         5         19
9615         5     5         0         13
9616         4     4         3         10
9617         4     4         2          6
9618         4     4         5          4

[9619 rows x 1497 columns]

Признак 'diff_years':
0        1
1        5
2        4
3        8
4        9
        ..
9614    19
9615    13
9616    10
9617     6
9618     4
Name: diff_years, Length: 9619, dtype: int64

7. Примените стандартизацию к новым признаками и сохраните результат в новые признаки вида `month_std`.

In [255]:
features_to_standardize = ['month', 'dayofweek', 'diff_years']

scaler = StandardScaler()

df[features_to_standardize] = df[features_to_standardize].fillna(value=pd.NA)
df[[f'{feature}_std' for feature in features_to_standardize]] = \
    pd.DataFrame(scaler.fit_transform(df[features_to_standardize].dropna()),
                 index=df[features_to_standardize].dropna().index,
                 columns=[f'{feature}_std' for feature in features_to_standardize])
print("\nСтандартизированные признаки:")
for feature in features_to_standardize:
     print(f"\nПризнак {feature}_std:")
     print(df[f'{feature}_std'])

Стандартизированные признаки:

Признак month_std:
0      -0.599647
1       1.667649
2      -0.599647
3      -0.599647
4      -0.599647
          ...
9614   -0.599647
9615    1.667649
9616   -0.599647
9617   -0.599647
9618   -0.599647
Name: month_std, Length: 9619, dtype: float64

Признак dayofweek_std:
0       1.127935
1      -1.365196
2      -0.367944
3       1.127935
4       0.130683
          ...
9614    1.127935
9615   -1.365196
9616    0.130683
9617   -0.367944
9618    1.127935
Name: dayofweek_std, Length: 9619, dtype: float64

Признак diff_years_std:
0      -1.322394
1      -0.695973
2      -0.852578
3      -0.226157
4      -0.069552
          ...
9614    1.496501
9615    0.556869
9616    0.087054
9617   -0.539367
9618   -0.852578
Name: diff_years_std, Length: 9619, dtype: float64

### Задача 6. Сохранение датафрейма для этапа моделирования

1. Удалите колонки, которые были исходными для формирования признаков, а также новые признаки, которые были добавлены с целью обучения.  Сохраните новый датафрейм в переменную `df_prepared`.

In [260]:
columns_for_drop = ['year', 'url', 'region', 'region_url', 'manufacturer',
                    'model', 'fuel', 'odometer', 'title_status', 'transmission',
                    'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
                    'odometer_km', 'odometer/price', 'region_new', 'region_corrected', 'manufacturer_model',
                    'desc_len', 'model_in_desc', 'price_k$', 'age_category', 'model_len', 'model_word_count',
                    'short_model', 'lat_mm', 'long_mm', 'date', 'std_scaled_price',
                    'month', 'dayofweek', 'diff_years',
                    'odometer/price_std']
df_prepared = df.drop(columns=columns_for_drop, errors='ignore')
print("DataFrame после удаления лишних колонок:")
print(df_prepared)

DataFrame после удаления лишних колонок:
              id  price price_category  is_audi  is_ford  is_chevrolet  \
0     7308295377  54990           high        0        0             0
1     7316380095  16942         medium        0        1             0
2     7313733749  35590           high        0        0             0
3     7308210929  14500         medium        0        0             0
4     7303797340  14590         medium        0        0             0
...          ...    ...            ...      ...      ...           ...
9614  7304876387   4495            low        0        0             0
9615  7316152972  14495         medium        0        0             0
9616  7310993818   8995            low        1        0             0
9617  7306637427  31900           high        0        0             0
9618  7311960763  31990           high        0        0             0

      is_toyota  is_jeep  is_honda  is_nissan  ...  age_category_new  \
0             0        0         0          0  ...               1.0
1             0        0         0          0  ...               1.0
2             0        0         0          0  ...               1.0
3             1        0         0          0  ...               0.0
4             0        0         0          0  ...               0.0
...         ...      ...       ...        ...  ...               ...
9614          1        0         0          0  ...               0.0
9615          0        1         0          0  ...               0.0
9616          0        0         0          0  ...               0.0
9617          0        0         0          0  ...               1.0
9618          0        0         0          0  ...               1.0

      age_category_old   lat_std  long_std  month_lambda  month_lambda_dt  \
0                  0.0 -0.619172  0.484245             4                4
1                  0.0  0.388014  1.110800             5                5
2                  0.0 -0.843059  0.531185             4                4
3                  0.0 -0.504509  0.853562             4                4
4                  0.0 -0.460101  0.557607             4                4
...                ...       ...       ...           ...              ...
9614               1.0  0.615626  0.823646             4                4
9615               0.0  0.806702  0.903947             5                5
9616               0.0  1.105428 -1.628875             4                4
9617               0.0  0.773939  0.251959             4                4
9618               0.0 -0.337738  0.985465             4                4

      month_dt  month_std  dayofweek_std  diff_years_std
0            4  -0.599647       1.127935       -1.322394
1            5   1.667649      -1.365196       -0.695973
2            4  -0.599647      -0.367944       -0.852578
3            4  -0.599647       1.127935       -0.226157
4            4  -0.599647       0.130683       -0.069552
...        ...        ...            ...             ...
9614         4  -0.599647       1.127935        1.496501
9615         5   1.667649      -1.365196        0.556869
9616         4  -0.599647       0.130683        0.087054
9617         4  -0.599647      -0.367944       -0.539367
9618         4  -0.599647       1.127935       -0.852578

[9619 rows x 1463 columns]

2. Распечатайте оставшийся список колонок и размерность финального датафрейма.

In [264]:
print("Оставшиеся колонки:")
print(df_prepared.columns.tolist())
print("\nРазмерность DataFrame:", df_prepared.shape)

Оставшиеся колонки:

3. Запишите преобразованный датафрейм в файл `data/vehicles_dataset_prepared.csv`, индекс не сохраняйте.

In [ ]:
df_prepared.to_csv('data/vehicles_dataset_prepared.csv', index=False)

## Описание преобразованного датасета:
- `id`— идентификатор записи;
- `is_manufacturer_name`— признак производителя автомобиля;

- `region_*`— регион;
- `x0_*`— тип топлива;
- `manufacturer_*`— производитель;
- `short_model_*`— сокращённая модель автомобиля;
- `title_status_*`— статус;
- `transmission_*`— коробка передач;
- `state_*`— штат;
- `age_category_*`— возрастная категория автомобиля;

- `std_scaled_odometer`— количество пройденных миль (после стандартизации);
- `year_std`— год выпуска (после стандартизации);
- `lat_std`— широта (после стандартизации);
- `long_std`— долгота (после стандартизации);
- `odometer/price_std`— отношение стоимости к пробегу автомобиля (после стандартизации);
- `desc_len_std`— количество символов в тексте объявления о продаже (после стандартизации);
- `model_in_desc_std`— количество наименований модели автомобиля в тексте объявления о продаже (после стандартизации);
- `model_len_std`— длина наименования автомобиля (после стандартизации);
- `model_word_count_std`— количество слов в наименовании автомобиля (после стандартизации);
- `month_std`— номер месяца размещения объявления о продаже автомобиля (после стандартизации);
- `dayofweek_std`— день недели размещения объявления о продаже автомобиля (после стандартизации);
- `diff_years_std`— количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля (после стандартизации);

- `price`— стоимость;
- `price_category`– категория цены.